[2017-11-19 17:27] KeyboardFire opened #2033 "Steno protocol not creating serial port"
I have followed the instructions on [the Stenography page](https://docs.qmk.fm/feature_stenography.html) of the QMK documentation by configuring both my QMK layout and Plover for steno over virtual serial port. However, I can't get any output with either TX Bolt or Gemini. Nothing happens when I press one of the steno keys or try to stroke a chord.

After some investigation, it seems that no virtu

[2017-11-19 18:50] MaxMalRichtig commented on #1708
I finally managed to try out the workaround provided by @oscar-broman. Seems to work quiet well, except for the mentioned issue, that you can't hold down the keys in auto_tap_keys anymore. Still much better than before. Thanks for sharing the code.

@fredizzimo if you need someone to test out some of your ideas, let me know!

[2017-11-20 06:50] harshitgoel96 opened #2036 "No keycode to disconnect bluetooth connection from current device."
I am currently working on a magicforce 68 mod to make it bluetooth capable. I am useing Bluefruit BLE 32u4. Everything is working fine, and I can easily use keyboard in bluetooth mode. The issue i have is when using multiple devices like phone or laptop, i need to disable the connection from the Device, i.e. laptop or mobile, is it possible to force disconnection for the keyboard itself ? i could

[2017-11-21 10:27] QuadDepo opened #2037 "Reversed macro layer"
Hey 👋

I had this idea of having a sort of Reversed macro layer, sorry a what?
yea maybe we should change the name but let me explain the concept.

We all the know in the action movies when you wanna launch a rocket missile you need two keys to activate it.

![image](https://user-images.githubusercontent.com/18424315/33067177-a80b3606-cead-11e7-97af-e580a5c1a88e.png)

I was thinking about having t

[2017-11-21 15:44] drashna commented on #2037
The Command Keys can do this (usually LSHIFT+RSHIFT+key). 0-9 to get to a specific layer.  You just need to make sure there is a way to get back.

Otherwise, you could do this with the `process_record_user` function.  Just create a variable, increment it up when the two are pressed, check the value and switch to the layer if it's "correct".

[2017-11-21 15:49] QuadDepo commented on #2037
@drashna Yea, I wasn't sure if there was already something like it. Well, my idea was also that it was gonna be a MO layer, so when you release the keys you go back to the layer you came from.

Can you explain the "try_layer" a little more, I couldn't find anything about on the wiki.

[2017-11-21 16:13] drashna commented on #2037
Then the tri layer thing is probably best

https://github.com/qmk/qmk_firmware/blob/master/keyboards/planck/keymaps/default/keymap.c#L201

RAISE/LOWER goes to their respective layer.  The `update_tri_layer` function then switches to the `adjust` layer if both the RAISE and LOWER layers are active (aka pressed+held).

If you want it "stealthy" (as in, nothing changes until both are pressed), then y

[2017-11-22 19:13] seebs commented on #2033
I'm not seeing the rules.mk (it's just a link to keymap.c, and trimming the /keymap.c shows a list of things not including a rules.mk).

My rules.mk for my keyboard using this just has `STENO_ENABLE = yes`, and that seems to work.

[code]

[2017-11-22 19:15] seebs commented on #1950
QMK, by default, restricts key events to one event per scan. I have a patch in master that allows increasing this. This doesn't directly affect polling rate, exactly, but affects the rate at which key events will show up (with a couple-few milliseconds of delay for multiple keys in some cases).

Grab the master tree, and build with QMK_KEYS_PER_SCAN set to, say, 4 or so, see if that helps?

[2017-11-22 19:19] seebs commented on #1961
I think the right solution (probably?) is to implement a virtser_send for ChibiOS, so that there's one visible. But I don't know exactly how one would go about this.

[2017-11-22 19:24] seebs commented on #1757
Does DDRF have 0b00000001 set?

Is anything else setting PORTF perhaps? A lot of time, ports are being used for other I/O, and sometimes code will just set a whole port register even though it only thinks 6 of the bits are in use, because it assumes the other 2 bits don't matter.

[2017-11-22 19:28] seebs commented on #1694
This should be implicitly fixed now, because recent reorganizations mean there's no longer an ergodox/Makefile. All the rule stuff lives in rules.mk, so there's only one place to set it. FAQ is also now updated and referring to rules.mk.

[2017-11-22 19:46] KeyboardFire commented on #2033
@seebs The `rules.mk` is on the same page as the keymap (scroll down to the bottom). It contains `STENO_ENABLE = yes`, but that doesn't seem to be working.

[2017-11-22 20:14] seebs commented on #2033
Hmm. Okay, experiment time: Try turning off NKRO_ENABLE, and possibly CONSOLE_ENABLE. There's code to check for running out of endpoints, but then I noticed:

`OPT_DEFS += -DINTERRUPT_CONTROL_ENDPOINT`

And I don't know the endpoint stuff well, but it occurred to me that I could easily imagine the system being smart enough to detect features with too many endpoints, but not smart enough to detect

[2017-11-22 20:30] seebs commented on #2033
I checked more, that *probably* isn't it, because there's other keyboards with the same thing that aren't doing this. So I'm not sure. I'm still a little suspicious about the endpoint thing.

Do other USB serial things work on this system? Is it possible that you have a kernel that omits the relevant support? I know arch users (like me...) have been known to optimize a kernel by dropping hardware

[2017-11-23 03:53] KeyboardFire commented on #2033
@seebs Ah, good call, it was indeed a kernel thing. I had forgotten to reboot after upgrading my kernel, so the required modules probably weren't getting loaded. Sorry about that, and thanks!

[2017-11-23 03:53] #2033 closed

[2017-11-23 12:29] hiro2016 commented on #1694
Thanks seebs,  I had forgotten to close this.

[2017-11-23 12:29] #1694 closed

[2017-11-24 15:44] K-rnivoro opened #2052 "How to use more than 10 columns and/or rows in matrix?"
Hi. I just want to use 11 rows and columns for a project based in a Commodore 64. I need those extra lines for the original joysticks.
What do I use after K99 in #define keymap ? KAA (hexadecimal) maybe?

[2017-11-24 16:19] K-rnivoro commented on #2052
Solved. Just use any convention. Hex seems to be the easiest.

[2017-11-24 16:19] #2052 closed

[2017-11-25 08:02] feidaman opened #2053 "Already pressed key gets released when switching layers"
Full disclosure: I'm a newbie using an Ergodox EZ here, haven't actually built my own firmware (yet). I have a key configured as **Ins** on **Layer 0**. I also have another key mapped to MO(1). If I press and hold Ins, as soon as I press the layer toggle key Ins up is sent, but the key is still being physically held down. Wouldn't it be useful if QMK could remember the layer where key-down occurre

[2017-11-25 12:59] SleepyBrett opened #2054 "Which Feather Bluetooth boards are compatible."
Adafruit sells at least three bluetooth feather boards and I'm having a hard time figuring out which are compatible with the firmware (with bluetooth support of course).

Here is their breakdown: https://learn.adafruit.com/adafruit-feather/bluetooth-feathers

I will summarize as best I can:

- Feather nRF52 - nRF52832 MCU (ARM Cortext M4F), LE only (single SOC)
- Feather Bluefruit M0 - ARM M0, nRF

[2017-11-25 18:52] RandTrawick opened #2057 "JJ40 NKRO Error"
I cannot get NKRO working with the JJ40.
when I set the NKRO_ENABLE = yes, I get this error:

`Compiling: keyboards/jj40/jj40.c                                                                   In file included from ./quantum/keymap.h:29:0,
                 from ./quantum/quantum.h:26,
                 from keyboards/jj40/jj40.c:23:
./tmk_core/common/report.h:133:22: error: 'KEYBOARD_REPORT_BITS'

[2017-11-25 22:25] plantarum opened #2059 "ACTION_LAYER_TAP_KEY is toggling layer, not momentarily activating it"
Hi,

I'm using ACTION_LAYER_TAP_KEY on my space key in the atreus map, with the intention of momentarily providing access to my third layer. FN0 is defined as:

const uint16_t PROGMEM fn_actions[] = {
    [0] = ACTION_LAYER_TAP_KEY(_LW, KC_SPC), // to layer 2 while held, space when tapped
};

It works as expected, except that the layer is toggled on, not momentarily accessed. That is, after releas

[2017-11-26 23:16] ErinCall opened #2065 "Generalized matrix.c for keyboards with I/O expanders & TWI"
## Background

Many split keyboards (especially experimental/handwired ones) use the Ergodox's design, where the right-hand keys are read directly from the onboard registers and the left-hand keys are read from an I/O expander via I2C (or "TWI," if you prefer<sup>1</sup>).

`quantum/matrix.c` has no support for this, so any keyboard that uses the Ergodox's design must use a custom `matrix.c`. The

[2017-11-26 23:23] jackhumbert commented on #2065
Yeah! Thanks for writing this up :) #1600 touches on this a bit too, and we've been starting with things in #1977, in hopes that the core matrix file can be used for both AVR and ARM boards.

[2017-11-27 12:11] danielo515 opened #2066 "feature_space_cadet_shift.md is missing"
Hello,

Reading the documentation I noticed that the links pointing to feature_space_cadet_shift.md are not working. This happens on the features page

[2017-11-28 05:30] Schemetrical commented on #1760
+1 because right now sometimes windows fucks up and reads the strings in the wrong order...

[2017-11-28 17:04] CMGreenspon opened #2071 "Ergodox EZ - can't compile undeclared functions"
Used the EZ configurator and then wanted to modify it slightly by adding macros but can't compile due to various commands from the online configurator not existing?

`keymaps/keymap_CMG.c:33: error: 'KC_RSPC' undeclared here (not in a function)
keymaps/keymap_CMG.c:75: error: 'RGB_VAI' undeclared here (not in a function)
keymaps/keymap_CMG.c:75: error: 'RGB_VAD' undeclared here (not in a function)

[2017-11-28 17:23] drashna commented on #2071
Make sure the file is `/keymaps/CMGreenspon/keymap.c`

And would you mind posting it to pastebin/gist?

[2017-11-28 17:31] CMGreenspon commented on #2071
It was in /keymaps/, moved it to /keymaps/cmg/ but it made no difference.

[Here is a link to the C file.](https://pastebin.com/W4jgpUwB
)

Thank you!

[2017-11-28 17:58] drashna commented on #2071
KC_WWW doesn't exist, or isn't defined (L42). I'm guessing that you mean `KC_WWW_HOME`

On the next line, it needs to be `LGUI(KC_D)', as you still need the "KC_" part.

On line 51, this should be `KC_AUDIO_MUTE`

For the "VRSN" macro, you need to remove it, or re-add `#include "version.h"` to the very top (that's where these are defined)

I made these changes, and it compiles on my system.

For r

[2017-11-29 03:05] drashna commented on #1844
Have you tried reflashing the EEPROM files?

[2017-11-29 05:10] tdierks opened #2073 "awk detector in makefile breaks check-size"
In [message.mk line 12](https://github.com/qmk/qmk_firmware/blob/master/message.mk#L12) by @fredizzimo there's a check for awk. On my Debian instance, this check fails and `$(AWK)` gets set to `cat && test`. This then breaks this use of awk in the rule.mk check-size target: [rules.mk line 375](https://github.com/qmk/qmk_firmware/blob/master/tmk_core/rules.mk#L375).

The awk on my system is the def

[2017-11-29 05:49] LaikeSF commented on #1844
Yes, I've done that several times without any effect.

[2017-11-29 15:32] canatella commented on #1109
Same problem here, working on Linux but not on MacOS Sierra

[2017-11-29 18:27] ieure opened #2075 "Trouble adding new scancodes"
I need to have Hyper modifiers for Emacs.  Currently, I have my Ergodox set up to send different keycodes (`XF86Forward` / `XF86Back`) for the right/left Hyper modifiers, which are then remapped to the correct symbols with xkb.

What I'd prefer to do is have the keys generate an unused scancode, then map that to the modifiers.  This would prevent confusion in the case that the xkb map isn't workin

[2017-11-30 09:56] CMGreenspon commented on #2071
Sorry was away from work so couldn't attempt this. Worked perfectly though!

Thank you!

[2017-11-30 09:56] #2071 closed

[2017-11-30 16:38] tim-tx opened #2081 "one shot modifier event occurs after the key to be modified in libinput-1.9.3"
I recently upgraded my system to libinput-1.9.3 from libinput-1.9.2. My one shot shift key had worked as expected before the upgrade, but now only works for the bottom row (ZXCVBNM... in qwerty). Hitting the one shot shift and a key on one of the other rows just produces a lowercase character. Xev shows that the shift modifier actually registers after second key for these other rows, but in the co

[2017-12-01 03:15] #2073 closed

[2017-12-01 08:30] pmalecka commented on #1707
I took a stab at this here: https://github.com/pmalecka/qmk_firmware/commit/7f734bea0e8bf1e2eddb96514134b9367a0fbf65

@algernon would you have a look, if I missed something?

[2017-12-01 16:49] mmikeww commented on #1845
I have fixed this in PR #2083

[2017-12-02 18:39] DwordPtr opened #2086 "Lufa not compiling when tyring to build ergodox firmware"
Hi I'm getting the following error message when I try to build the ergodox firmware for either hand.
To recreate this issue:

1. run `make git-submodule`
2. copy-paste one of the ergodox docker commands in the main project folder.

btw I'm running the latest code from master.

[code]

[2017-12-02 22:15] trunneml commented on #2086
What's the exact docker command you are running? I had to add the make command to the docker container like this:

[code]

[2017-12-03 03:53] mattfair opened #2087 "keymap fails to compile with MOUSEKEY_ENABLE=yes"
I have a keymap (planck rev4) that compiles for fine in release 0.5.174, but breaks in releases 0.5.175+.  The error I get is:

[code]
My rules.mk does have:
[code]

If I set in my rules.mk:
[code]
It will then build successfully.  Is there something I need to add to to make my code compile with the newer releases?  Using the `:production` make flag doesn't work either.

[2017-12-03 04:17] drashna commented on #2087
Tested this out. Add `MIDI_ENABLE=no`, and that should fix the issue (at least, it did for me).

[2017-12-03 06:02] mattfair commented on #2087
yep that was it, thanks!

[2017-12-03 06:34] #2087 closed

[2017-12-03 12:55] twhiston opened #2089 "undefined reference to `_sbrk' when using AutoShift with Ergodox Infinity"
Hi,
I found that if i enabled AutoShift on the Ergodox Infinity the build failed.
[code]

Solution seems to be to add `$(CHIBIOS)/os/various/syscalls.c` to the SRC value in rules.mk for the board, but not sure if you want that always added.

[2017-12-03 19:54] DwordPtr commented on #2086
I have been running
[code]

[2017-12-03 20:21] scott-t-wilson opened #2094 "Enabling audio breaks *both* C6 and B5"
If AUDIO_ENABLE is defined both C6 and B5 are set as outputs and driven low even if they don't have the corresponding XX_AUDIO defined. This prevents them from being used as matrix columns unless they're reset in matrix_init_kb(). I don't know why the ports need to be modified at all if the specific pin isn't being used for audio.

In audio_init(), starting on line 152:

        #ifdef C6_AUDIO

[2017-12-04 16:40] pushcx commented on #2081
I also have this bug on a Planck using a custom layout - same behavior that keys on the same row as the one-shot key work but not others.

[2017-12-04 19:24] colinta opened #2098 "Proposals: support "default" and "after" processing behaviors, and add helper function `get_record_keycode`."
# Proposal 1: `process_record_system`

In my keymap I'm setting LED based on the state of layers, and in `process_record_user` I wanted to use the "default" behavior, but then query the state of the modifiers (for a custom "sticky key" implementation, but that's not relevant).

My solve was to refactor `process_record(keyrecord_t *)` and move the "default/system" record handling into a separate fu

[2017-12-04 19:25] drashna opened #2099 "Error when flashing vea AVRDUDE in MSYS"
When using MSYS2 on Windows, and using `:avrdude`, it generates this error:

[code]

It looks like it's outputting the wrong string (`/??/COM` rather than just `COM`)

[2017-12-04 19:51] colinta commented on #2098
Two questions brought up in gitter.im:
- is this similar to #1525?  No, because that branch is about changing the `return true/false;` "magic" return values to more intuitive `STOP_PROCESSING/CONTINUE_PROCESSING` names, which I also would love to see.  These proposals are about having places to put code that goes *after* key processing.
- can it be accomplished by using `!record->event.pressed` lo

[2017-12-04 20:45] colinta commented on #2098
- `layer_state_set_user` could def be used for the layer examples.  There isn't a similar callback for modifier key changes (I'm setting LEDs based on modifier "sticky" setting)

[2017-12-05 03:15] BigTuna94 commented on #2066
I'm not sure what did it, but it looks like the links are working now.

[2017-12-05 03:44] drashna commented on #2066
#2080 fixed a bunch of dead/outdated links.  This was one of them.

[2017-12-05 03:51] drashna commented on #1668
If you're still having issues with this, you should check out the (recently) created example:
https://docs.qmk.fm/feature_userspace.html#example

Or you can take a look at my ... fairly large userspace files:
https://github.com/qmk/qmk_firmware/tree/master/users/drashna

[2017-12-06 09:42] TurboMech opened #2109 "Read and save current RGB mode after power cycle?"
Trying to get a few things working within RGB layer toggling and RGB keycode indication (CAPS_LOCK).   But no matter what after setting the `RGB_MOD` the setting does not save or persist after reboot of keyboard.

I figured running the code under macros `const macro_t *action_get_macro(keyrecord_t *record, uint8_t id, uint8_t opt)` would bog down the keyboard so I opted for `bool process_record_us

[2017-12-06 14:01] sQVe opened #2111 "OSM / One shot failing to trigger"
I have a **Ergodox EZ** keyboard and my keymap previously had **OSM** keys set which worked flawlessly. Since I updated my keymap that has changed. My settings and keymap can be found at: https://github.com/sQVe/qmk_firmware/tree/sqve/keyboards/ergodox_ez/keymaps/sqve

Am I the only one having this issue? Would love some help in solving this. :beers:

[2017-12-06 17:05] KMontag42 commented on #1942
sorry for the late reply, I will be trying this out over the weekend!!!!

[2017-12-06 22:46] Khertus opened #2115 "missclik"

[2017-12-06 22:50] #2115 closed

[2017-12-07 04:50] TurboMech commented on #2098
@colinta I’m working on a similar issue. See https://github.com/qmk/qmk_firmware/issues/2109. The layer RGB is working if you set it as a key code.  The issue I’m having is after reset the keyboard will return to the last RGB mode but as soon as you toggle a layer (or in the code I posted CAPS LOCK) and then return to default layer, the RGB mode is “forgotten” and reverts to mode 1 (static), but t

[2017-12-07 06:59] patrickhener commented on #1096
Well I seem to not getting this thing to work. I don't know what I did wrong. i cloned your branch and then I copied my keymap in. I then compiled like: make patrick. It did the hex file. But after flashing it there is no change. I can connect but it will not register any keys. Did I do something wrong?

[2017-12-07 08:20] drashna commented on #2098
@TurboMech If you're using `_setrgb`, then that would be why.  IIRC, it manually sets the mode to "1" (solid).
Using `_sethsv` works better, keeps the mode or lets you set a mode, as well.

[2017-12-08 00:11] RaeedChowdhury commented on #2111
I'm having a similar issue with my keyboard, where some of my one shot modifiers don't work. I think, though, that I narrowed it down to something going on in my i3 window manager, and nothing to do with my keyboard, since my OSM keys work fine when I exit i3 and also when I switch to Windows. I'm not sure how to fix it, though. Any chance you're also using i3 window manager on Linux?

[2017-12-08 05:34] sQVe commented on #2111
Nicely spotted @RaeedChowdhury! I'm indeed also using i3wm. I'll do some downgrading later to see where this issue was introduced. I'm a bit unsure how we, in the best way, explain this issue in the i3wm repo.

[2017-12-08 10:03] sQVe commented on #2111
@RaeedChowdhury I've tried downgrading `i3-wm` down three versions and it made no difference. I also tried downgrading all its dependencies and no difference. I think there is something else at fault here...

[2017-12-08 14:46] RaeedChowdhury commented on #2111
Actually, I did some digging last night into what keycodes are being read in, and it seems like it has something to do with how Xorg is reading in the keyboard inputs. I'm not sure if this is happening to you, but strangely, my OSM left shift works only for a few letters, like 'z' and 'x', while my OSM left ctrl works for most of my keyboard. The other OSMs appear to not be working.

The reason, a

[2017-12-08 15:18] sQVe commented on #2111
@RaeedChowdhury I agree. If this is the case it should really be fixed here.

[2017-12-08 19:09] nachie opened #2122 "make shows grep usage on macOS. grep -P is not supported"
⌘ make mitosis:default
QMK Firmware 0.5.184
WARNING:
 Some git sub-modules are out of date or modified, please consider runnning:
 make git-submodule
 You can ignore this warning if you are not compiling any ChibiOS keyboards,
 or if you have modified the ChibiOS libraries yourself.

Making mitosis with keymap default

avr-gcc (GCC) 7.2.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is f

[2017-12-08 23:18] RaeedChowdhury commented on #2111
I'm happy to try my hand at a fix but I don't know QMK or TMK well enough to even know how to implement this behavior. @jackhumbert Do you have any suggestions on where to start (or even whether this is advisable)?

[2017-12-09 00:33] RaeedChowdhury commented on #2111
A little bit of a kludge for now though: I added a send_keyboard_report() line at the end of set_oneshot_mods() and clear_oneshot_mods() in tmk_core/common/action_util.c, and it seems to have the desired effect for my test case. I'm pretty sure that this isn't the ideal fix though, and it probably doesn't address the ONESHOT_TAP_TOGGLE functionality.

[2017-12-09 16:09] ieure commented on #2026
I'm also experiencing this issue.  It was working on both hands when I initially switched to QMK, but now only the left hand lights.

[2017-12-10 04:44] fauxpark commented on #2075
Generally you should not be editing `keycode.h` directly. In your keymap, you can add a new enum, with the first entry having a value of `SAFE_RANGE`:

[code]

https://docs.qmk.fm/custom_quantum_functions.html#defining-a-new-keycode

[2017-12-10 11:45] Pawnerd opened #2128 "LT([layer], [keycode]) not taking function from new layer into account"
I am not sure if this should be considered as an issue or more as an (un)documented feature.

To keep stuff simple, this example is given for a 2x1 keyboard, with this keymap:
KEYMAP = {
 [0] = { LT(2, KC_A), KC_B  },
 [1] = { LT(3, KC_C), KC_D  },
 [2] = { TRNS, TO(1) },
 [3] = { TRNS, TO(0) },
}

When the user is in layer 0 and holds the first key down and presses+releases the second key, he lan

[2017-12-10 16:34] danielo515 opened #2129 "Send custom key-codes using tap-dance"
Hello,

I'm building a macropad and I'm really enjoying using QMK. I really love the tap dance feature, expands the keyboard usability greatly. I was wondering if it is possible to send custom key-codes using tap dance macros. I have two custom keycodes and I want to send them based on the number of taps. I tried the following with no luck:

[code]
It compiles, but the code on process_record_user

[2017-12-10 16:46] Pawnerd opened #2130 "M() does not work as parameter of LT([layer], M([...]))"
As the title says; It's impossible to use a macro as second parameter in the LT() keycode/command.

[2017-12-10 16:52] drashna commented on #2129
I'd have to check the code, but I suspect that it's doing something "weird" here, and that's why it's not being processed.

However, the first example ***"should"*** work: https://docs.qmk.fm/feature_tap_dance.html#complex-examples

[2017-12-10 17:30] danielo515 commented on #2129
hELLO @drashna,

Thanks for your prompt response. Trying what you suggested gives me compile errors:

[code]

Looks like register_code doesn't like my custom key-codes:

[code]

[2017-12-10 17:36] drashna commented on #2129
Rather than registering the keycodes, call the code here.

Maybe add it to a custom function, so you don't have duplicate code.

[2017-12-10 17:38] danielo515 commented on #2129
I already have a custom function because I have several similar macros. I'll do that. Can I just call SEND_STRING and that stuff normally within a tap dance ?

[2017-12-10 17:43] drashna commented on #2129
Yes, that would work, too.

[2017-12-10 17:46] danielo515 commented on #2129
Thanks for the tip @drashna your proposed workaround works.

However, I would prefer to be able to just send the key-codes normally and let the firmware handle them like the rest of my macros where no tap dance is involved. But I can wait for that, a bit of duplication (even using a function) does not hurt so much at this moment

Thanks a lot!

[2017-12-10 22:42] drashna commented on #2129
Yes, absolutely.  And without digging, I'm not sure why. I can make some guesses, but basically, the custom codes are added "too late" to properly process these.

[2017-12-11 05:33] RaeedChowdhury commented on #2111
...Actually, that seems to reverse the problem, where in some cases, Xorg is registering the modifier release before the keypress. I think the fix is going to have to be more nuanced.

[2017-12-11 06:00] jackhumbert commented on #2122
cc @tengg

Confirmed - sorry about that. Luckily it's only the file size comparison that's broken here. I think ack can be used here instead, right? We use that in other places.

The offending command is ` grep -oP "(?<=AVR_SIZE: ).+"`` located [here](https://github.com/qmk/qmk_firmware/commit/9fdc27626097ae03b767a09427efc90475d90955#diff-a411ea609aa598b217af5b21e90e5094R374)

[2017-12-11 09:52] j-kramer commented on #2111
@RaeedChowdhury your description of the bug matches with [this bug](https://bugs.freedesktop.org/show_bug.cgi?id=104030) in libinput. Downgrading libinput should fix the issue as described in issue #2081.

[2017-12-11 21:38] DwordPtr commented on #2086
this worked for me by skipping docker. If anybody is having issues try `sudo make:egrodox_infinity:<layout>:dfu-util` I'll take a look and see if I can get the docker container working sometime eventually.

[2017-12-11 21:38] #2086 closed

[2017-12-12 01:38] belak opened #2142 "Support getting the serial number from Input Club keyboards"
There's some background information in https://github.com/qmk/qmk_firmware/pull/1963#issuecomment-342670875

Essentially, we can pull the serial information from some magical registers and should be able to export it in the USB information

[2017-12-12 01:41] belak opened #2143 "Update Input Club keyboards to use I:C Vendor ID and matching device IDs"
Relevant conversation is in the following comments:

- https://github.com/qmk/qmk_firmware/pull/1963#discussion_r149540325
- https://github.com/qmk/qmk_firmware/pull/1963#issuecomment-342670875
- https://github.com/qmk/qmk_firmware/pull/1963#issuecomment-342842597
- https://github.com/qmk/qmk_firmware/pull/1963#issuecomment-342919138

Essentially, this will allow even keyboards flashed with QMK to

[2017-12-12 21:02] RaeedChowdhury commented on #2111
Thanks, I agree, you're probably right. I think I'll just take one-shot modifiers out of my keymap until someone decides to patch libinput.

[2017-12-13 07:41] YCF opened #2146 "add a startup audio with RGB enabled?"
we can't enable audio and rgb at the same time?
how about just a startup sound,and then disable it?

[2017-12-13 12:45] hiro2016 commented on #2130
That is so by the design of KEYMAP macro I believe.

Qmk relies on tmk core if I'm not mistaken and tmk design dictates:
1.  firmware detects keypresses and their positions.
2.  firmware translates a keypress into an action code based on the current layer.
3. An action code is 16 bits long int.
4. action code has an hid usage id in lower 8 bits and tmk specific code in upper 8bits.

Now LT is a tm

[2017-12-13 16:18] drashna commented on #2146
You can, and I have.

The problem is that you risk the firmware being too large (atmega32u4, so pro micro and teensy 2.0 and others), which will soft-brick the controller.

As long as the firmware is small enough to fit, then you can get both enabled.

[2017-12-13 19:01] Flink commented on #2111
I had exactly the same problem as you people and downgrading libinput did fix the bug indeed 👍

[2017-12-13 23:59] YCF commented on #2146
@drashna would you please show me some code,thanks.

[2017-12-14 00:27] drashna commented on #2146
Check out the orthodox in the repo. My keymap stuff is there, actually.
https://github.com/drashna/qmk_firmware/blob/master/keyboards/orthodox/keymaps/drashna/rules.mk

If you run this: `make orthodox/rev1:drashna RGBLIGHT_ENABLE=yes AUDIO_ENABLE=yes FAUXCLICKY_ENABLE=no`, it will be RIGHT under the limit by about 200 bytes. Very, very close.

That said, I also use `EXTRAFLAGS=-flto`, which is app

[2017-12-14 00:42] YCF commented on #2146
@drashna
ps: I'm working on my planck-handwired,powered by pro micro.
I will check it out.
orthodox is awesome！
Thanks a lot.

[2017-12-14 00:42] #2146 closed

[2017-12-14 00:59] drashna commented on #2146
Yeah, turn off stuff in the `rules.mk` that you don't need, until it fits.

Also, GB for the Orthodox: https://www.reddit.com/r/MechanicalKeyboards/comments/7i2ler/10_days_left_for_the_orthodox_group_buy/

[2017-12-14 05:25] #1942 closed

[2017-12-14 11:36] shelaf commented on #2054
Feather 32u4 Bluefruit LE only supproted.
Please see below issue about M0.
https://github.com/qmk/qmk_firmware/issues/912

[2017-12-14 11:51] shelaf commented on #2054
Using a Bluefruit Ez-Key via qmk supported board like an atmega32u4, probably work well. But, I've never tried.
https://www.adafruit.com/product/1535

[2017-12-14 20:47] cbbrowne opened #2152 "Make has a strange shell "expecting primary" error"
This seems to be a cosmetic problem, but it's annoying.

`cbbrowne@cbbrowne2 ~/G/qmk_firmware> make xd75:cbbrowne
QMK Firmware gh60-0.1
Making xd75 with keymap cbbrowne

avr-gcc (GCC) 5.4.0
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

Size bef

[2017-12-15 05:11] tengg commented on #2143
Hi,
Just noticed the k-type support has been checked in.
How to flash it? Using what target?

Thanks

[2017-12-15 05:19] tengg commented on #2143
nvm, found it's dfu-util.

Just wondering if it works with RGB lighting?

[2017-12-15 06:28] belak commented on #2143
The QMK port for the K-Type doesn't support LEDs at all yet. Support needs to be written for the chip which controls the lighting and I'm not as familiar with how that works.

[2017-12-16 19:26] tengg commented on #2143
Thanks.
Another issue is the boot magic jump to bootloader seems not working.
I didn't see the bootloader size set in rules.mk, is it supposed to set some value or this chipset is different?

[2017-12-16 19:43] drashna commented on #2143
Looks like it's missing a "`BOOTLOADER = `" line is missing from the "rules.mk" file.

`BOOTLOADER=atmel-dfu` may be the right option here, but I'm not sure.

[2017-12-16 19:46] belak commented on #2143
The bootloader shouldn't be overwritten as far as I know. Input:Club uses a custom bootloader.

However, I reverted this a while back which may have broken it. I thought I tested it but maybe there were stale objects or something.

https://github.com/qmk/qmk_firmware/commit/eb98af673a999ede17e293e00220b43d717d500f

[2017-12-17 12:39] danielo515 commented on #1482
Hello @fredizzimo

It's not possible because he is using left and right modifiers or because it's not possible to use MT along with OSM?
I'm currently interested in combining MT with OSL

[2017-12-17 16:08] danielo515 opened #2162 "jj40 tap dance is not working"
Hello,

Probably I'm making some stupid mistake somewhere, but I'm a bit lost here. The problem is with tap dance on the keyboard jj40. My tap dance macros are working, however they only work when I hit another key. For example,  if I have one tap configured to make dot on single tap and comma on double tap I also have to hit another key (any other key) to get the tap dance sent/finished. Anyone t

[2017-12-17 18:10] mattrberry opened #2163 "avrdude: not found"
I am trying to flash my Iris keyboard using the command `make iris/rev2:default:avrdude` as described in the readme. After resetting the controller, I get the message:

[code]

Am I missing a library or something? Thanks for any help!

[2017-12-17 18:26] drashna commented on #2163
Yeah, this is a known issue.  You can manually install/download it, and it will pick it up.

Also, this is on a Mac?  If so, part of the failure is due to the way that grep is being used.

[2017-12-17 18:32] mattrberry commented on #2163
I haven't worked with Arduinos before. Would you mind pointing me to some documentation to manually install it?

And nope, this is on Ubuntu!

[2017-12-17 19:05] drashna commented on #2163
Edited, are you using dash or an alt to bash? As that seems to cause issues.

As for getting avrdude, do this: http://ubuntuhandbook.org/index.php/2014/09/install-avrdude-6-1-ubuntu-1404/

Then run "avrdude" to see if it's working (I believe).  If it is, rerun the make command above, and it should "just flash it", once the board is in bootloader mode.

[2017-12-17 19:12] mattrberry commented on #2163
I generally use fish and thought that might have been the issue, but I get the same error with bash.

I'll give that a shot and see if it works! Thanks for the help!

[2017-12-17 19:56] mattrberry commented on #2163
That was it! Thank you!

[2017-12-17 19:56] #2163 closed

[2017-12-18 05:12] K-rnivoro opened #2164 "How to set NUM_LOCK On regardless it's state?"
For my Commodore 64 (and it's joysticks) project, I need to set Num Lock to be always on in order to get the joysticks mapped as numpad keys. Thing is I don't want/need the Num Lock key in my keymap because there is no numpad, so I need a way to check the Num Lock status and activate it in case it is off.\
Any ideas?

[2017-12-18 05:46] drashna commented on #2164
This is pretty simple to do, and I do so for my numpad:
https://github.com/qmk/qmk_firmware/blob/master/keyboards/handwired/woodpad/keymaps/drashna/keymap.c#L111

Just add this to your keymap file:
[code]

[2017-12-18 15:16] Oscillope commented on #2162
Have you tried testing using just `ACTION_TAP_DANCE_DOUBLE` instead of the advanced version? That could at least narrow down if it's a bug in your tap dance functions or something else.

[2017-12-18 18:05] danielo515 commented on #2162
Hello @Oscillope
I'm pretty sure the problems are not with my tap dance functions. I think the problem is that the code is ignoring the tapping term (the timeout of the tap dance).
I think this because I can do the following:

1. Trigger the first part of any tap dance, including a simple one using `ACTION_TAP_DANCE_DOUBLE`. So if the tap dance requires double tap I just tap once
1. Wait any numbe

[2017-12-18 19:45] danielo515 commented on #2162
Hello @Oscillope
I just commented out All the code related to complex tap dances (including the function declarations) and I just left one basic `ACTION_TAP_DANCE_DOUBLE `. The behavior is exactly the same, sadly as expected.

[2017-12-18 22:34] belak commented on #2143
@tengg What makes you think the magic jump to bootloader isn't working? As far as I can tell, this port is working on my K-Type. The one oddity is that only the left USB port works.

[2017-12-19 05:34] veikman opened #2169 "R"

[2017-12-19 05:35] #2169 closed

[2017-12-19 08:21] YCF opened #2171 "QMK DFU bootloader generation,echo missing '-e' with '\n'"
file:tmk_core/avr.mk

line 249:
`echo "#ifndef QMK_KEYBOARD\n#define QMK_KEYBOARD\n" > lib/lufa/Bootloaders/DFU/Keyboard.h`
should be:
`echo -e "#ifndef QMK_KEYBOARD\n#define QMK_KEYBOARD\n" > lib/lufa/Bootloaders/DFU/Keyboard.h`

line 246
`echo "\n#endif" >> lib/lufa/Bootloaders/DFU/Keyboard.h`
should be:
`echo -e "\n#endif" >> lib/lufa/Bootloaders/DFU/Keyboard.h`

missing the `-e` .

There is no

[2017-12-19 08:46] zer09 opened #2172 "Get the MOD key state on key pressed."
I tried to do it myself but, I cant figured it out. My knowledge in qmk is limited and C is not my main language.

BTW what I want, is it to get the activated ```MOD``` keys while holding the key. But I am just able to get the ```MOD``` keys during the ```key up```.

I test it using this.
[code]

And the result is this.
[code]

I am using the ```ALT_T(kc)``` and I get the pressed event from ```pro

[2017-12-19 14:44] Oscillope commented on #2162
OK, thanks for testing. I'm not super familiar with tap dance but I can try to take a look at it this weekend and see if I can figure anything out, assuming nobody who knows better takes care of it before then :)

[2017-12-19 16:10] K-rnivoro commented on #2164
Good! I'll try it ASAP!!
Thanks Drashna!

[2017-12-19 16:13] danielo515 commented on #2162
Thank you very much! I'll wait for this weekend

[2017-12-19 17:16] drashna commented on #2164
Welcome!

And just to explain what's happening, the "led_set_keymap" is called in initialization and any time the "lock" state is changed for any of the states.

This checks the NUM LOCK state, and if it's disabled, sends the "numlock" key press to enable it.

[2017-12-19 17:48] sdbarker commented on #2065
@ErinCall Have you made any progress?  This would be a huge win for a project I'm currently working on.

[2017-12-19 19:01] veikman opened #2178 "In-keyboard layout versus OS input source"
I am coming to QMK from an OS-side remap of QWERTY to Colemak. One of the reasons I use Colemak is its support for e.g. Swedish characters on (right Alt) “layer 3”, without the awkwardness of Unicode hex entry or the programmer-unfriendly standard Swedish layout.

I initially assumed I would be creating a QMK keymap with the Colemak layout built into it, while reverting to a standard QWERTY mappin

[2017-12-19 19:04] veikman commented on #2169
This was filed in error due to my attempting to write it on too novel a keymap. I am an idiot. Feel free to delete this issue, and/or give writers the ability to rename their issues in editing.

[2017-12-19 20:17] drashna commented on #2178
I'm not  sure if this is helpful or not, but ...

If you haven't seen this: https://github.com/qmk/qmk_firmware/blob/ef2961798cddb43dbcbac9d72ca9d84d71ad565e/quantum/keymap_extras/keymap_colemak.h

And you can use "CM_" instead of "KC_" and it should map to the correct key when using software colemak.

[2017-12-19 20:29] drashna commented on #2065
I know that it isn't directly related, but could add  onboard/i2c  callouts for RGB underglow, audio, and backlights.

That would allow for control of both without burdening the TRRS cable (though would require rewriting of aforementioned code).

[2017-12-19 20:59] veikman commented on #2178
Thank you drashna, that is indeed helpful! That takes care of macros, but I see no equivalent for Unicode, which was my main interest. I have updated the original description to reflect this.

[2017-12-19 21:35] drashna commented on #2178
Glad I could help with at least part of that.
The unicode stuff I'm not familiar with, so I can't help there. Sorry.

But in case you haven't seen it:
https://docs.qmk.fm/feature_unicode.html

And IIRC, there are a number of custom keymaps that handle this, if you're willing to dig.

[2017-12-19 21:51] drashna commented on #2178
Actually, this may be what you're looking for:
https://github.com/qmk/qmk_firmware/blob/d2ff66a985b938e87fffe55c1d9f1dc55e356f91/layouts/community/ergodox/familiar/keymap.c#L101

[2017-12-20 06:46] veikman commented on #2178
To clarify: I think I know how Unicode input works in QMK. The problem is that QMK is necessarily limited to USB HID codes and ignorant of what the OS is going to do with them. For example, to get a proper right-side quotation mark, I can use UC(0x201D). For Linux/IBus, by default, QMK will then send a sequence of:

The OS receives this and misreads it as:

To get the right result I anticipate tha

[2017-12-20 12:11] fauxpark opened #2179 "The Apple Fn Key"
_I've made this an issue instead of a PR because it probably warrants some discussion on whether or not to add this feature into QMK, but either way I think it's a good idea to at least put it in the documentation in the event that it's not implemented, so that anyone sufficiently determined can at least get some pointers on how to do so on their own. Anyway..._

I wanted to see if I could get QMK

[2017-12-20 14:11] BalzGuenat opened #2181 "Backlight breathing intensity steps are too coarse for breathing speeds >4"
For clarification, this is about the LEDs under the keycaps, not underglow.

At least when breathing to max intensity, the intensity steps of the LEDs become visible, resulting in a not-so-smooth breathing effect.

As I understand, this is related to the `breathing_table` in [quantum.c](https://github.com/qmk/qmk_firmware/blob/master/quantum/quantum.c#L1144) and possibly(?) to the timer interrupt,

[2017-12-20 17:40] BalzGuenat commented on #2181
Couldn't help but look around before a reply anyway. I may have found an error. In the [ATmega32u4 data sheet](http://www.atmel.com/Images/Atmel-7766-8-bit-AVR-ATmega16U4-32U4_Datasheet.pdf), section 14.5, last paragraph it says:

It looks like this is done in the wrong order in [quantum.c](https://github.com/qmk/qmk_firmware/blob/master/quantum/quantum.c#L868).

[2017-12-21 02:35] underpk opened #2185 "I have 96 Layout keyboard with ATmega32a. Can I flash QMK follow this guide?"
Its 96 keyboard layout with arrow key. Can I flash QMK follow this guide?

https://github.com/qmk/qmk_firmware/tree/master/keyboards/ymd96

I would like to try but I'm afraid if I flash something may go wrong.

[2017-12-22 03:48] Enochen commented on #1096
Any updates on this feature?

[2017-12-22 18:44] thriondil commented on #1719
I was also quite confused by this line:

Adding just this comment to the same section would help immensely:

As a newer user, it was not at all clear what "stack on" means

[2017-12-22 19:11] ErinCall commented on #2065
@sdbarker I'm sorry to say I've made no progress. Been dealing with some health problems. I'm hoping to get at it while I'm off work next week.

[2017-12-22 19:13] sdbarker commented on #2065
@ErinCall No worries.  I wish you the best, take care of yourself!

[2017-12-22 19:45] skullydazed commented on #2152
I think #2189 fixes this. Can you give it a try?

[2017-12-23 11:57] danielo515 opened #2191 "VUSB drops reports if usbInterruptIsReady() returns false. Affects ps2avrgb and other atmega32a boards."
Does anybody know if jj40 has a limitation on the number of characters it can send through send string ?
it is stopping every send at 5 characters length and after that it does not execute the next instruction, which is sending enter key.

I don't know where to look limitations and features of this keyboard.

Thanks in advance

[2017-12-23 16:33] danielo515 commented on #2162
Hello again @Oscillope and anyone with the will to help us.

I've been making some more testing to see if I can isolate the problem.
I forget to mention this, but I'm using the same repository for another small custom keyboard (hence the code is shared) and tap dance is working. The only difference is that the other keyboard has an arduino pro micro, which uses Atmega32U4 while jj40 uses Atmega32A

[2017-12-25 03:44] drashna commented on #2191
Try adding more characters before the enter, and see if that works.

[2017-12-25 09:58] danielo515 commented on #2191
I'm using the function send string,not the macro. Do you mean use the macro for all?

[2017-12-25 15:57] drashna commented on #2191
Yeah, add more characters to the `SEND_STRING` function.  That or try `send_string`, and see if that helps (note the case, it does matter)

[2017-12-26 18:34] ieure commented on #2075
I tried the suggested approach, but it has the same problem.  When I press the keys with the custom scancodes, no keypress event is visible to the OS.  I tested with both `xev` and `xinput test` -- neither registers any event at all.

I have no idea if this is an issue with the OS (or X keyboard layer) dropping events for scancodes it doesn't know about, or with QMK not sending the event.  Is ther

[2017-12-26 19:25] jeffmhastings opened #2194 "Backlighting Effects"
Does QMK have support for different backlighting modes? EasyAVR has static, breathing, reactive, and erosion. I've looked but haven't really seen anything other than toggles and levels.

[2017-12-26 19:58] Duckle29 commented on #2185
@underpk As long as you don't flash the fuses of the chip so that flashing is disabled you should be fine. That means leaving either jtag or spi interfaces up. You're most likely using some sort of ISP, so that means don't dissable the SPIen flag in the high fuse: http://www.engbedded.com/fusecalc/

Note that on AVR a fuse bit of 0 = set and 1= not set

Another thing of note, is that if you set th

[2017-12-27 00:03] Duckle29 opened #2195 "Dynamic re-assignment of collums and rows"
Hello there, I'm working on a new split keyboard, based on an idea sparked by someone I talked to on IRC.

It uses only one microprocessor and instead relies on the interconnect to carry the matrix over, to allow the master half to scan it. Connector choices were discussed, and anything from DB25 connectors to mini-DisplayPort was discussed, but due to size and price, USB-C was chosen as the goal.

[2017-12-27 00:04] Duckle29 commented on #2195
I should also note that the implementation should somehow allow keyboard implementers to reassign special pins in a function, if they need to, an example being the RGB data pin.

[2017-12-27 00:12] fauxpark commented on #2075
Yeah sorry, the `SAFE_RANGE` method actually doesn't do what you're looking for, as I've since learned. It places the keycode _after_ the internal QMK keycodes, which are _after_ the "real" keycodes, so of course it won't emit anything. You were actually on the right track with your original code above, but instead of being modifiers, they have to be regular keycodes. This is because the data sent

[2017-12-27 20:14] danielo515 commented on #2191
Hello @drashna ,
as you can see here i'm trying both things:
https://github.com/danielo515/qmk_firmware/blob/keyboard/jj40/keyboards/jj40/keymaps/split/keymap.c#L174-L210

None of them work. If you have any idea I'll ve very grateful.
Regards

[2017-12-27 20:19] danielo515 commented on #2162
Hello @Oscillope ,
Did you manage to take a look at it ? Not sure but maybe @algernon could help us a bit, he is the author of the tap dance feature after all.

Regards

[2017-12-27 21:49] algernon commented on #2162
My first thought was timers not working, but if OneShots do time out, then that is not the case. The other thing might be `TAPPING_TERM` being too long. Other than that, I don't see why timeouts wouldn't work...

Except if the timers on the Atmega32A are not 16 bit... judging by the datasheet, the 32A has 2 8-bit timers and 1 16-bit one, while the 32U4 has 2 16-bit timers. That may be an issue. Co

[2017-12-27 21:54] algernon commented on #2162
(And by work, I mean if their timeout functionality works, of course.)

[2017-12-28 01:13] homocomputeris commented on #1719
It is described somewhat better [here](https://jayliu50.github.io/qmk-cheatsheet/#layers).
The least explained thing still is why stacking if direct unconditional `TO` switching exists.

[2017-12-28 07:02] danielo515 commented on #2162
Hello @algernon,

I was fearing something like that, I mean a hardware limitation of the Atmeta32A, but I lack the skills to understand a data sheet.
As I said, I tried all the features that I thought make use of timeouts, but that is limited to tap dance and one shot keys :smile: (leader key was also on my list)
I'll try the ones you mention and report back. I'm not sure what is Space Cadet Shift

[2017-12-28 07:27] algernon commented on #2162
[Space Cadet Shift](https://docs.qmk.fm/feature_space_cadet.html) is not OneShot, but if you test with Leader, that'll do just fine.

[2017-12-28 09:04] mavanmanen commented on #895
And updates on potential implementation of this feature?

[2017-12-28 09:24] algernon commented on #895
I haven't read through the whole thread here, so read my words with that in mind. In Kaleidoscope, I created a bidirectional communication plugin, dubbed [Focus](https://github.com/keyboardio/Kaleidoscope-Focus) that works over Serial. It is a text based protocol, with no real spec, that relies more on convention. It is strictly serial, as in, you can't have overlapping commands on the wire.

The

[2017-12-28 14:18] Oscillope commented on #2162
Hi @danielo515, sorry I was unresponsive... didn't have as much time as I thought this weekend. I'll try to look at `timer_elapsed` soon, assuming @algernon doesn't get to it first. I actually noticed that Layer Tap (the `LT` macro for switching layers) doesn't work as well, so that may be related, though I also don't really know how that macro works so it could be a completely separate problem.

[2017-12-28 14:51] Oscillope commented on #2162
Looking at `tmk_core/avr/timer.c`, it seems like we might even just be able to switch it to use Timer 1 (the 16-bit one) instead of Timer 0 (the 8-bit one), if the code is being built for an atmega32a. I can try this out soon, I just don't want to do it in the middle of the day since this is the only keyboard I have right now.

[2017-12-28 18:51] Duckle29 commented on #2194
Check the animations table here: https://docs.qmk.fm/feature_rgblight.html#rgblight-keycodes
You can also make your own

[2017-12-28 18:58] drashna commented on #2194
@Duckle29 That's RGB underglow, not backlighting.

And no, I don't think it has multiple modes, other than "on/off/breathing"

[2017-12-28 19:24] danielo515 commented on #2162
Hello everyone.
I'm not sure how space cadet works, but this is what I am experiencing:
- If i hit the shift key, it sends a parenthesis
- If I hit and hold the shift key it acts as a shift modifier

So I guess it works as expected, but I don't see how it compares to double tap. This one is a tap or tap and hold relation, which was already working on other areas, for example on layer switching ( L

[2017-12-28 19:50] danielo515 commented on #2162
Hello again @algernon
Here I am again, after testing the leader key, and I have to say that it... works, it works perfectly. In fact, the default timeout of 300ms was too short and it was very difficult to type the sequence (albeit it worked when did it really fast), so I changed it to 900 ms and also works. If I wait for a second or more, then the normal key is sent, but if I do it within the tim

[2017-12-28 20:19] kwkroll32 opened #2197 "M65-A Key Swaps: Unwanted Bootmagic Activation"
There have been a few of us with the native QMK M65-A who have had bootmagic unintentionally activated. Symptoms include swapped ESC and GRV, swapped Backspace with Backslash, and other bootmagic features described [here](https://docs.qmk.fm/feature_bootmagic.html). It only ever happens to me on a fresh boot - never during normal use of they board.

There are a couple of workarounds that return no

[2017-12-28 20:29] drashna commented on #2197
The problem is (IIRC), this can STILL happen.
The "COMMAND" functionality is what is probably causing this.

If you add `COMMAND_ENABLE = no` to your rules.mk, or add `#undef IS_COMMAND` to your config.h file, it should prevent this from happening

[2017-12-28 20:52] jetpacktuxedo commented on #2197
For the two things that you specifically named, esc->grave and backspace->backslash, those might possibly be explained by the default keymap. By default, esc is KC_GESC which is escape normally but tilde when shifted, for example. though since you say it only happens on a fresh boot I would guess it probably isn't that.

I haven't hit this myself and am generally pretty unfamiliar with the bootmag

[2017-12-28 20:59] Duckle29 commented on #2194
Ah okay. My mistake. I was under the impression the RGB stuff was all unified, but I can see I was wrong

[2017-12-28 21:07] jetpacktuxedo commented on #2197
Can you try wiping the eeprom next time you reflash it? The process is described here: https://github.com/qmk/qmk_firmware/tree/master/quantum/tools.

That should let us see if it is just something funky that gets left in the eeprom when it ships from the factory.

[2017-12-28 21:42] drudru commented on #598
@thaddeusreid - your answer worked for me

I got a kbdfans assembled GH60 keyboard (which I'm typing on right now!)

make with the dfu would just fail.

After doing your erase, flash, reset... everything worked great.

Thanks!

[2017-12-28 22:37] Oscillope commented on #2162
@danielo515 Can you try Tap Dance again? I actually just tried it on my JJ40 for the first time and it seems to work perfectly (using the simple example from the QMK manual). I did have to do a clean build in order for everything to work properly, but it now does seem to work fine. To clean: `make jj40:all:clean`. Let me know how it goes.

[2017-12-29 14:27] kwkroll32 commented on #2197
@drashna I've set COMMAND_ENABLE to "no" as you suggested and flashed again. I'll have to wait and see if that helped, as I am not able to reproduce the issue on demand.

@jetpacktuxedo no worries, I was just wondering whether you knew something about bootmagic that I didn't. I have tried wiping the eeprom [workaround # 1 above]. That restores normal behavior, but does not stop bootmagic toggles f

[2017-12-29 17:21] apturner commented on #1707
I'm not sure if this is a manifestation of the same issue, but it seems that with `ACTION_TAP_DANCE_DOUBLE(KC_LSFT, KC_CAPS)`, Caps Lock will only enable if you double tap and hold until the `TAPPING_TERM` ends, whereas I would expect a quick double tap to enable it.

[2018-01-01 03:47] #2094 closed

[2018-01-01 13:02] danielo515 commented on #2162
Hello everyone and happy new year!
Sorry about this, but did anyone make any advance ? I want to come back to work with my brand new keyboard fully operative 😄

Regards!

[2018-01-01 14:09] rickard-von-essen opened #2208 "Let's split: Clarify/Reference why audio and RGB underglow can't coexist"
In the [rules.mk](https://github.com/qmk/qmk_firmware/blob/master/keyboards/lets_split/rules.mk#L67) he comment states:

But there is no explanation why or any reference with more information. It would be great to add something to clarify this.

[2018-01-01 16:32] drashna commented on #2208
I think that there used to be a technical reason for this.

But now, I think it's mostly size.  If the firmware is larger than 28k, it can/will soft brick the controller.  And since both the RGB underglow code and the audio code are fairly large, it's a tight fit, at best.

[2018-01-01 22:47] #2181 closed

[2018-01-02 19:12] jawb opened #2212 "Build for Teensy++ 2.0"
I made a new keyboard project and wanted to build the firmware following this guide https://docs.qmk.fm/getting_started_make_guide.html I used **make keyboard:default:teensy** option but the hex I got wasn't accepted on the Teensy loader since it's a build for Teensy 2.0 (ATMEGA32U4) and I have a Teensy++ 2.0 (AT90USB1286).

What option should I use ?

[2018-01-02 22:34] drashna commented on #2212
I'm not 100% sure about this, but ... in the rules.mk for the keyboard, make sure you have this:
[code]

And see if that helps/works.

[2018-01-02 23:31] jawb commented on #2212
@drashna Thanks that worked, it's my first time starting a a full keyboard project in QMK, shouldn't there be a way to make the keyboard easy to build for any architecture without altering files ?

[2018-01-03 00:42] drashna commented on #2212
I'm glad to hear it!

I'm not knowledgeable enough to give you a good answer for that.

But there are a number of differences between the different platforms.  Especially AVR vs ARM.

Though, I think part of this was a lack of bootloader size being specified.  But I'm not 100% sure.

[2018-01-03 01:23] jawb commented on #2212
What made it work for me is the MCU = at90usb1286 part, I didn't change the BOOTLOADER because I actually did that before you posted.

My point is the keyboard files should stay the same, and anyone could build without having to alter anything in order to build. ATMEGA32U4, AT90USB1286 or other should be set in make command rather than a file I think.

[2018-01-03 01:23] #2212 closed

[2018-01-03 05:05] skullydazed commented on #2212
We consider the MCU to be one of the things that defines a particular keyboard. For an example, compare `keyboards/planck/rev5` to `keyboards/planck/light`. You can do something similar if you want your keyboard to support multiple processors, but selecting the MCU via the make command line is not something we want to explicitly support.

[2018-01-03 17:28] danielo515 commented on #2191
Hello again @drashna
Today something unexpected happened: the macro sent the enter keycode.
It was weird, so I made some test on a text editor. If I execute the macro several times in a row, after 4 executions it sends the enter keycode,  then it works a couple of times (between one and two) and then the same behavior again.
I'm not sure if this has anything to do with the fact that it is triggere

[2018-01-03 17:58] drashna commented on #2191
Maybe try:
[code]

I do this for a ton of my macros due to odd timing issues with games.  It may help here, until somebody builds in a delay option into `SEND_STRING`.

[2018-01-03 21:17] rickard-von-essen opened #2220 "Requires GNU grep"
Building on macOS one command fails (but the build succeeds) with:

[code]

This is because macOS ships with BSD grep. Replacing all occurrences of `grep` with `ggrep` (after installing it with `brew install grep`) (`git grep -l grep | grep -v keyboards/ | xargs -I= sed -i'' -e 's/grep/ggrep/g' =`) and the build goes through without the error.

This can ge fixed in either two ways A) require GNU g

[2018-01-03 22:55] danielo515 commented on #2162
Hello,

On a desperate attempt to make this work I tried the following

[code]
And then use that function as a for each parametter for the tap dance macro. No luck, the behavior remains the same.

Regards

[2018-01-04 03:40] drashna commented on #2220
You may want to check out #2189, as it looks like this is actively being addressed

[2018-01-04 06:22] rickard-von-essen commented on #2220
Duplicates #2122

[2018-01-04 06:22] #2220 closed

[2018-01-04 06:23] rickard-von-essen commented on #2220
Thanks!

[2018-01-04 08:38] harshitgoel96 opened #2223 "Adafruit Feather 32U4 LE, sending signal over Bluetooth and USB simultaneously"
I have made  a board using the Adafruite feather32u4. all of it works fine over bluetooth. but when i connect the board with a usb port, when the bluetooth is connected, it is not switching to USB only mode and send the keycode over both USB and Bluetooth.

the code and and keyboard is used from the folder mf_ble

[2018-01-04 08:42] harshitgoel96 commented on #912
hi, I am using adafruit feather 32u4 on my board. the board is functioning pretty much great. the only issue is that when both Bluetooth and USB are connected, the signal are being sent on both the interface.

[2018-01-04 16:03] exiva commented on #2223
There's a keycode to switch it. I think it's `OUT_BT` possibly there's a bug in the auto-select. It's been a long time since I've used qmk though.

[2018-01-04 17:10] ryanm101 opened #2224 "JJ40 Underglow & Backlight"
When configured the underglow it starts in state off and toggling the HUE will turn it on.

Backlight LEDs underswitches seem to work when flashing firmware or just after flashing but once unplugged they are off and cannot be toggled with the toggle keys

[2018-01-05 00:26] michaeldauria opened #2226 "Backlight flashing on xd60 after #2187"
After flashing #2187, my backlight constantly flashes while on on my xd64. Once I revert the offending commit, everything works as expected.

I tried playing around with some settings, but ultimately I could not get it to work properly.

Thanks,

Michael

[2018-01-05 10:42] harshitgoel96 commented on #2223
documentation states that it will work on those board that support it. does it require some kind of implementation ?

[2018-01-05 13:08] danielo515 commented on #2191
Hello @drashna
Thank you for your suggestion, I tried it and the result is the same.  I don't understand what's wrong with this keyboard. It has weird behaviors since day 0

[2018-01-05 13:14] #2223 closed

[2018-01-05 13:30] harshitgoel96 opened #2229 "[BUG] Adafruit BLE 32u4: OUT_AUTO not applied by default, KC_RESET not putting MCU in DFU mode."
Hi
I am using Adafruit Bluefruit 32u4 on my board, with code setup provided in MF68_BLE.

1. When I connect the bluetooth and USB on first boot, the board is outputting on both USB and BT at the same time. This results in double character input from the board.I have added keycode to add OUT_AUTO on my keymap. Once this is pressed, this issue is resolved, and i am able to switch between BT and USB

[2018-01-06 11:39] Krakob commented on #1884
I'm offering a €30 bounty if someone would implement this natively in qmk, that is:

* User is given a simple way to define a generalised space cadet key in the form (or similar to): `#define my_pseudokeycode cadet(key_on_hold, mod_on_tap, key_on_tap)`. Example usage `#define LCTL cadet(KC_LCTL, MOD_RALT, KC_7)`.
* Function must support AltGr (**not** the same as ctrl + alt)!
* User should not hav

[2018-01-06 14:27] jackhumbert commented on #1884
If you use `register_code` instead of `register_mods`, while swapping in the equivalent keycodes in for the mods (`KC_LCTL` instead of `MOD_LCTL`, etc), do you get the same result? Right-hand mods aren't ideally implemented in the internal mod system at this point, but should work on raw keycode presses/sends.

[2018-01-06 16:08] rickard-von-essen opened #2234 "Proposal: Predefine compose macros for non-ASCII characters"
## Background

I'm a programmer and I mainly use a US ANSI (QWERTY) layout since this is good for accessing special characters. But since I'm also writing in Swedish from time to time I like quick access to the Swedish extra characters Å, Ä, and Ö without switching (software) keymap.

## Suggestion

This can easily be achieved with AltGr (win), Opt (macOS), and Compose (Linux) macros. Since this i

[2018-01-06 16:15] PureSpider commented on #1884
AltGr on layouts that support it is simply RAlt on all the others. Try using RAlt instead of AltGr?

[2018-01-06 20:34] plattfot commented on #2026
Did another merge with upstream today, [81ae0fb1](https://github.com/qmk/qmk_firmware/commit/81ae0fb10efb10414a7578f374e5fbbff58984d4). Backlight now works on both hands for me.

[2018-01-06 20:51] Krakob commented on #1884
@jackhumbert -- I will try it tomorrow, thanks for the tip!
@PureSpider -- AltGr and RAlt are synonymous in terms of keycodes, it's just semantics, kind of like return vs enter. Unfortunately, implementation might not be correct, as seen in my issue.

[2018-01-07 02:56] ReagentX opened #2235 "TG does not work if it is under an MT"
If you have an MT to hold modifiers while you hold a key and try to set the tap to TG a layer, the TG will not execute.

[2018-01-07 14:55] plexigras opened #2237 "creating layout from xkb layout"
a xkb layout definition looks something like this

[code]

i would like to have a key that sends `asterisk` in the form of `Shift+AE08`

maybe even cooler would be if i could have a second layout like
[code]
that makes it so if i press `AE08` it sends `Shift+AE08` and if i press `Shift+AE08` it sends just `AE08`

then i could easily have a layout that is different then the system layout.

[2018-01-07 17:17] JakeSummers opened #2238 "Question: Using mod tap, but sometimes I get a hold when I intend to get a press"
Good Morning!

I am using the [ModTap](https://docs.qmk.fm/feature_advanced_keycodes.html#mod-tap) functionality to make the 'B' key a 'B' when tapped but a 'CTRL' key when held.  [See here](https://github.com/JakeSummers/qmk_firmware/blob/44987622e0ededfc2190f105073b3efe23755463/keyboards/preonic/keymaps/jake/keymap.c#L77).

This for the most part has been working fairly well.   Unfortunately, so

[2018-01-08 20:50] iCodeSometime opened #2241 "[Feature Suggestion] Emacs style 'C-u n' for sending key or macro multiple times"
It think it would be useful to have functionality similar to the emacs 'universal argument' feature.
This would need a key, or key combo defined as a 'multi_key'

The way this works in emacs, I press the key combo, any number of digits, and then another key or command.
e.g. `C-u 16 down_key` == send the down key sixteen times.

It won't be able to work exactly like this, since this would disallow

[2018-01-08 20:51] Jipsu opened #2242 "OSL(layer) doesn't return to base after pressing a macro key (SEND_STRING variant)"
Oneshot layers don't seem to unregister when a SEND_STRING macro key is pressed. Same issue with RGB_TOG key. Basic keys and modified keys like LCTL(KC_C) work as expected, returning me to base layer. Is there something I have overlooked? I've set macros in keymap.c and enums in kb.h here: https://github.com/Jipsu/qmk_firmware/tree/master/keyboards/shortcut

[2018-01-08 21:37] drashna commented on #2242
For the macros, because of how they're handled, this may be "normal", and there isn't a good way to handle it, IIRC.

But you can manually call `reset_oneshot_layer()` in your macro, to fix this.

As for the ROG_TOG, add it to your `process_record_user`, and add the above function. But instead of "return false", use "return true" instead.

Also, I would recommend `layer_state_set_user` to set the

[2018-01-08 22:19] krusli commented on #2224
Did you try using RGB_MOD to toggle through the modes, and RGB_VAI and RGB_VAD to increase/decrease the brightness (value)? My JJ40 initially didn't seem to fully work with the underglow but either a few flashes or playing around with the keycodes helped and it now works perfectly.

There seems to be some kind of weirdness too I think with the PS2AVRGB boards occasionally. My JJ40 developed a weir

[2018-01-09 21:00] coreyzev commented on #1707
@pmalecka if it works for you, you should just turn it into a pull request (if you havent already)

https://github.com/qmk/qmk_firmware/blob/master/docs/contributing.md

After you do that one of the admins on this project will check it and give feedback

[2018-01-09 21:50] Krakob commented on #1884
@jackhumbert -- after my liberal interpretation of 'tomorrow', I've gotten it working! Thank you!

It's late o' clock so I'll get around to linking the solution (currently in a private gitlab repo), closing, and moving the bounty to a separate issue tomorrow. I'll still uphold it since this method was pretty cumbersome anyhow and QMK is an awesome project that I'm happy to support :)

[2018-01-10 09:27] ryanm101 commented on #2224
I've the 1.5 pcb as well.

I'll try the other keys you mention as well, though i can live with using the key to toggle is the backlight for the LEDs I find more annoying I cant get to work.

[2018-01-10 10:09] krusli commented on #2224
Dug a bit deeper: that part (to send another command setting all 3 color channels to 0) is necessary to toggle the RGB LEDs off with the JJ40. I've traced the code back to `rgblight.c`, and it seems that the current state of the LED underglow lighting is committed to EEPROM via `eeconfig_update_rgblight()`. What's interesting is even though the toggle state isn't saved, the color and mode of the L

[2018-01-10 10:31] krusli commented on #2224
I'm currently having a look at #959 (issue by the user who originally ported the PS2AVRGB boards to QMK) and the [PS2AVRGB](https://github.com/showjean/ps2avrU) repo to see if I could port over the backlighting code. Unfortunately I can't test it out myself but I could report back once I get to a state where my changes would have a good shot at working. Once I do that though could you help me with

[2018-01-10 10:39] krusli commented on #2224
Could you try changing the backlight pin to D4?

From the PS2AVRGB repo:
[code]

[2018-01-10 10:50] krusli commented on #2224
For the issue with the underglow LEDs at least, go to `jj40.c`, clear it out and paste this in:

[code]
The keyboard does remember the last state of the LEDs, however to turn the LEDs on a signal has to be sent via I2C to turn on the underglow on the board.

[2018-01-10 11:05] ryanm101 commented on #2224
I'll give it a go when i get home tonight. Thanks for looking into this.

[2018-01-10 11:05] algernon commented on #1707
@pmalecka looks good! Can you turn it into a pull request?

[2018-01-10 11:07] ryanm101 commented on #2224
Yes i noticed it saved colour but not state which i thought was interesting. Happy as long as i can config the "default" state in code..

[2018-01-10 12:07] Jipsu commented on #2242
Thanks for guidance! I wasn't able to get `reset_oneshot_layer()` to work but I used `layer_off (layer)` instead. I might look into calling that function later with better time.

I looked into your RGB code, seems it plays an effect at layer change and then applies colour based on current default layer. Definitely more powerful than my current implementation. I'll have to either change to DF() or

[2018-01-10 12:59] rautesamtr opened #2248 "NKRO does not work after OS reboot/start on certain setups"
Reconnecting the keyboard by plugging it out and back in results in NKRO working as expected. E.g. it honors nkro eeprom setting and reacts correctly by toggling it with MAGIC_TOGGLE_NKRO (`keymap_config.nkro`).

I was able to observe this behavior both on Windows and Arch Linux on my desktop computer as well as on arch linux on my Macbook Air. It works fine with OSX without reconnecting the board

[2018-01-10 17:40] tafryn commented on #2026
I am experiencing this issue, too. All backlight commands only affect the left hand regardless of which side is the master.

[2018-01-10 17:48] ryanm101 commented on #2224
@krusli Ok so underglow is now working on plugin... Good job thanks

I'll test backlight next

[2018-01-10 17:56] ryanm101 commented on #2224
Nope pin D4 is doing nothing:(   Using   BL_TOGG, BL_ON, BL_OFF to test

[2018-01-10 18:02] Poluglottos commented on #2194
I believe all that's currently available is 'breathing' and then static brightness levels, 0 through 9

[2018-01-10 19:48] Krakob commented on #1884
Solution: https://gitlab.com/Krakob/qmk_firmware/blob/krakob-xd60/keyboards/xd60/keymaps/krakob/keymap.c

Includes a solution for hold-layers instead of mods, as well since I only use one GUI key and had to put in an opposite for it.

Again, thanks a bunch for the help! <3

[2018-01-10 19:50] #1884 closed

[2018-01-10 19:57] Krakob opened #2249 "€30 bounty for implementing customisable space cadet keys"
Followup from #1884:
I'm offering €30 to anyone who can implement a simple way to make localised space cadet keys:

* User is given a simple way to define a generalised space cadet key in the form (or similar to): `#define my_pseudokeycode cadet(key_on_hold, mod_on_tap, key_on_tap)`. Example usage: `#define LCTL cadet(KC_LCTL, MOD_RALT, KC_7)` would let the user bind a key to `LCTL`, which would p

[2018-01-10 20:43] TurboMech commented on #2249
You're trying to have two different things on a tap referenced.  I don't think thats going to work very well, if at all possible.  You could attempt this with `tap_dance`, maybe combining `tap_dance` and `MOD_TAP` this could be theoretically possible.  If I have time I'll look into it this weekend.

[2018-01-10 21:01] Krakob commented on #2249
It's functional - see the linked issue's last post ([or just the source code](https://gitlab.com/Krakob/qmk_firmware/blob/krakob-xd60/keyboards/xd60/keymaps/krakob/keymap.c)). This is for implementing a simpler way to do it for the benefit of all ;)

[2018-01-11 07:26] krusli commented on #2224
Could you try setting it to Pin B5 instead for now? In QMK (`quantum.c`) it seems to use the output compare unit `OCR1A` and `COM1A1` as it is done in PS2AVRGB (`setPWM()` calls `timer1PWMBSet()` which sets the value of `OCR1A`.

Actually on second thought I'm rather confident that this has a pretty decent chance of working. QMK already has the low-level AVR PWM stuff implemented so I think that s

[2018-01-11 07:44] krusli commented on #2224
Edit 2: I have a feeling it's just a matter of the equivalent of `PWM_Init()` not being called on turning on the backlight LEDs:

[code]

This is called before `timer1PWMBOn()`:
[code]

After this `setPWM()` is called in ps2avrgb, which sets the value of the PWM (registers?), in which a block of code that seems to the corresponding code in QMK is also there in `void backlight_set()`

[code]

[2018-01-11 10:35] SevereOverfl0w opened #2252 "Script refers to /bin/sh, but uses bashism."
[code]

You get this error if your /bin/sh is not using bash/zsh, etc. And is instead using something like dash.

It works if I do this though:

[code]

I'm not sure where the error is coming from exactly though.

[2018-01-11 10:36] ryanm101 commented on #2224
Tried B5, B6 and back to D4 again no luck.

The only time the backlights come on for me is during the flashing /bootloader processes.

[2018-01-11 10:43] ryanm101 commented on #2224
FYI: My repo with current settings etc
https://github.com/ryanm101/qmk_firmware/tree/PersonalLayout/keyboards/jj40

I'm using the layout "ryan"

[2018-01-11 10:49] krusli commented on #2224
When you set it to say D4 do the LEDs come back on after the flash?

[2018-01-11 10:51] ryanm101 commented on #2224
No, mines not doing anything with Backlights..

Your underglow code works perfectly though

[2018-01-11 10:54] krusli commented on #2224
What I meant was, when you flash the keyboard and the keyboard starts up for the first time, do the backlighting LEDs turn on? And could you control the brightness of the in-switch LEDs using the toggle keys while it's on, or is it essentially uncontrollable?

[2018-01-11 10:58] ryanm101 commented on #2224
No they dont turn on at all

FYI: https://github.com/qmk/qmk_firmware/pull/2253 (I you would rather do the PR, so it's against your name let me know and I will retract it.)

[2018-01-11 11:01] krusli commented on #2224
I don't mind - go ahead with the PR.

And this is with all the settings? I'm just curious as the `fun40` keymap's README seems to note that at least the backlight LEDs would turn on after a keyboard flash, but fail to turn on again once the keyboard is rebooted.

From the README:
[code]

[2018-01-11 11:03] ryanm101 commented on #2224
Let me diff him against my current branch just to be sure, i may have removed something during other tests

[2018-01-11 11:24] ryanm101 commented on #2224
ok i'm not sure how hes done it. I can see the new include of "backlight.h" in keymap.c and he calls backlight step.

I tried to move them into the top level so it would apply to my code but it complains about backlight_step().

If i flash the Fun40 then backlight comes on and stays on. The keys has has as BL_ON and Step do nothing.

[2018-01-11 11:27] ryanm101 commented on #2224
ok

so adding
[code]
to my jj40.h causes my backlights to stay on post flash however adding that causes the underglow to fail on unplug -> replugin

[2018-01-11 11:30] ryanm101 commented on #2224
If i leave plugged in after flash Backlights stay on but are uncontrollable. RGB stays on and is controllable...
Replugging Blacklights are off and uncontrollable. RGB works fine

[2018-01-11 11:36] krusli commented on #2224
That's quite weird, `backlight.h` is just a bunch of function signatures that's already included when the keymap is compiled I think.

I'm working on trying to port over the code from the PS2AVRGB repo right now.

[2018-01-11 11:49] ryanm101 commented on #2224
This is wired. Now backlights are not working after flash.. :/

[2018-01-11 11:52] krusli commented on #2224
Try this out? [GitHub gist](https://gist.github.com/krusli/50eb417c20db1989784dbf8b44a6d225)

You'll have to modify `quantum.c` and add `__attribute__ ((weak))` above the declaration of `void backlight_task(void)` to let my custom function in `jj40.c` override it.

Hopefully I didn't miss any initialisation code needed for the backlight LEDs to at least work. QMK still compiles just fine with thes

[2018-01-11 11:59] ryanm101 commented on #2224
Ok so build compiles and flashes successfully
Backlight state after flash: Off
Tried keycodes:   BL_TOGG, BL_ON, BL_OFF, BL_INC  *no effect*

[2018-01-11 12:14] krusli commented on #2224
Add this to `backlight_task(void)` in `jj40.c`:

[code]

[2018-01-11 12:19] ryanm101 commented on #2224
no change

[2018-01-11 12:23] ryanm101 commented on #2224
Repo with changes: https://github.com/ryanm101/qmk_firmware/tree/PersonalLayout
Just in case you want to validate my changes

[2018-01-11 12:55] krusli commented on #2224
Have a look at this [GeekHack thread](https://geekhack.org/index.php?topic=85943.msg2312974#msg2312974)

It seems that someone got RGB LEDs working on the b.face X2, which is also a PS2AVRGB board. I'll try to have a look tomorrow after I catch some shuteye for now.

[2018-01-11 13:00] ryanm101 commented on #2224
Ahh. No worries thanks for looking into this. It wouldn't bother me so much except I went to all the trouble of soldering those LEDs  :)

[2018-01-11 13:04] krusli commented on #2224
I'll have a look at #1061. Looks like someone got Caps/Scroll Lock LEDs working on the PS2AVRGB branch. I'll have a look to see if something similar to that would work.

[2018-01-11 13:36] ryanm101 commented on #2224
I just copied and pasted that in wholesale.

Nope didnt work :(

[2018-01-11 13:43] krusli commented on #2224
Did you change the pin back to D4 (just in case)?

Or in the mean time, could you do this (hacky) thing as in [this commit](https://github.com/ekx/qmk_firmware/blob/bface/keyboards/ps2avrGB/ps2avrGB.c) from the issue I linked above?

[code]

And try to toggle Caps Lock on and off and see if it toggles the backlight.

[2018-01-11 13:45] ryanm101 commented on #2224
Yes pin is D4 (you can see my exact config in the repo i linked above (using the keymap "ryan")

I'll try that now.

[2018-01-11 13:52] ryanm101 commented on #2224
Soo that'svery close..

When I press my LAYER keys with caps lock OFF the backlights flicker quickly on->off
When I press my LAYER keys with caps lock ON nothing happens
However If I hold LAYER and toggle caps ON then nothing but when toggling caps OFF the backlights flicker on->off

[2018-01-11 14:00] krusli commented on #2224
That's great to hear.

I'll be signing off for now but I'll see if I can trace through the code and see if I could figure it out later. It might just be the LEDs not playing nice with the soft PWM of the existing backlighting code, or it might just be because it only activates on getting the signal.

This is especially interesting as having the code in `matrix_scan_user` should, in theory, mean th

[2018-01-11 20:32] #2242 closed

[2018-01-11 22:19] ryanm101 commented on #2224
I've pushed all my changes to my "PersonalLayout" branch mentioned above so you can make sure i've done it correctly

[2018-01-11 22:36] ryanm101 commented on #2224
ok SO I am an idiot.. I'd left `DDRD &= ~(1 << 4); PORTD &= ~(1 << 4);
` in the matrix_scan_user

Removing it had had the Following Effect
Flash Board -> LEDs: OFF
Caps Lock OFF: Press LAYER KEY key LEDs turn on
Toggling caps lock (via main laptop KB or via LAYER+CAPSLOCK) toggles LEDs on/off
Does not remember state between unplug/replug

Behaviour 1:
Using my laptop keyboard:
Plugin JJ40 -> LEDs

[2018-01-11 23:20] sanosis commented on #2224
On my jj40 (pcb 1.5) with fun40 i get:
+ bootloader flashing leds
+ after flashing leds are on
+ i can turn the leds on/off bl_togg
+ bl_inc/dec don't change brightness but will sometimes turn ledds on/off

[2018-01-11 23:50] krusli commented on #2224
Is this straight from the repo? Does BL_INC and BL_DEC keep "working" after an unplug and replug? What about BL_TOG?

Worst goes to worst I'll just buy and solder a few LEDs myself so I could more effectively test the code I'm working on.

[2018-01-12 00:02] sanosis commented on #2224
Unplug kills the leds - none of the switches I've tried turned them on.

[2018-01-12 00:49] krusli commented on #2224
So it seems to just be missing some initialisation code.

Interestingly using the backlight LEDs as a "Caps Lock" LED seems to somewhat work: see the `led_set_user()` block above.

I'm thinking that perhaps some of the AVR registers aren't set properly by QMK for the initialisation of the LEDs.

Maybe you could try dropping the `DDRD &= ~(1 << 4); PORTD &= ~(1 << 4);` line to turn on the LEDs and

[2018-01-12 03:23] krusli commented on #2224
@ryanm101 if you're using Windows I think [caps lock state is shared between keyboards](https://superuser.com/questions/858872/why-two-different-keyboard-connected-to-a-single-computer-have-telepathy). Activating caps lock on your laptop also sends the USB caps lock signal to your JJ40, which then triggers the LED enabling code.

The JJ40 (and the other PS2AVRGB) boards use PWM implemented using t

[2018-01-12 06:42] sanosis commented on #2224
@krusli - my guess is that you could use just one led and you can use unpopulated key (mit/grid) and put it under the bord. You  don't even have to solder that one, just bend the legs (not very practical for long term use, but works for testing).
You can use a multimeter instead of an actual led (but it's less convenient on the desk).

[2018-01-12 06:43] krusli commented on #2224
@sanosis literally just left the electronics store with 1 LED as you sent me this. Thanks for the tip on just bending the legs - I did ask the mech keys discord here on it and it seemed to confirm my suspicion that that would work. Also I actually did desolder a board with LEDs once and the switches with LEDs still on them still worked even with missing LEDs in the circuit.

[2018-01-12 06:57] ryanm101 commented on #2224
@krusli Using Fedora.  I'll be unable to test till I get home from work which will likely be after your offline but if you post code etc to try i'll get back to you asap

[2018-01-12 07:24] krusli commented on #2224
Got the single LED working! I'll work on making my custom `backlight.c` file for the board now.

[2018-01-12 08:24] krusli commented on #2224
I'm still working on it - if you want to follow along with the progress have a look at my [repo fork](https://github.com/krusli/qmk_firmware/)

[2018-01-12 09:34] krusli commented on #2224
I got `BL_TOGG` working in [this commit](https://github.com/krusli/qmk_firmware/commit/5396f58da3575a6eb77bad99a465dc703c203473). Somehow I couldn't override the functions in `quantum.c` even after using a `#ifndef`, and yes I've updated the Makefile rules for it.

I'm going to focus on getting it to work for now. Cleanup comes later.

[2018-01-12 09:52] krusli commented on #2224
The reason you're able to turn the LEDs off with `BL_STEP` is because there's a check that turns off the LEDs when the brightness level of the LEDs is set to 0 by the way.

[2018-01-12 12:04] pmalecka commented on #1707
thanks, I created a pull req: #2258

[2018-01-12 13:02] krusli commented on #2224
Bingo, I'm done. Check out a copy of my repo [here](https://github.com/krusli/qmk_firmware) and you should now be able to fully use `BL_TOGG` and `BL_STEP`. `BL_BRTG` isn't working yet as I haven't ported over the fading in/out code but it shouldn't be that bad now that I have everything working.

[2018-01-12 13:14] krusli commented on #959
I've previously ported over the underglow code from Luiz Ribeiro's personal fork of PS2AVRGB a few months ago, and recently just got backlighting working on the board (I'll still need to implement the "breathing" effect, but it should be really simple as the brightness control code is working).

It's in my [fork of the repo](https://github.com/krusli/qmk_firmware) in the `jj40` directory. The code

[2018-01-12 13:57] krusli commented on #2224
Breathing is working now. Just `#define BACKLIGHT_BREATHING` in `config.h` if you want to use it.

[2018-01-12 14:17] ryanm101 commented on #2224
Nice i'll give it a whirl tonight.. good job

[2018-01-12 16:18] danielo515 commented on #2238
You should try to adjust the TAPPING_TERM timeout

[code]

[2018-01-12 17:04] danielo515 commented on #2162
After some flashes the leader hey stopped working. I'm going desperate with this keyboard.

I just noticed that @ryanm101 , @krusli and @sanosis are also jj40 owners. Do you guys use tap dance at all ?  Hope I don't bother you by mentioning you.

[2018-01-12 17:51] krusli commented on #2162
I've used it before on my XD60. If I have some more free time I'll look into it.

[2018-01-12 17:54] krusli commented on #2224
Backlighting should be working already. @ryanm101 could you do a clone of my repo and see if everything works on the backlighting?

I did notice one tiny issue - with breathing turned on the backlight can't be turned off, but once it is disabled (with the keycode) it functions as normal again.

[2018-01-12 19:15] danielo515 commented on #2224
Are different modes supposed to work ? They are not working for me, and after activating one of them the underglow has stopped working. What a pitty

[2018-01-12 19:46] ryanm101 commented on #2224
@krusli

I copied my Keymap in for testing:

LED State after 1st flash: Off
BL_TOGG: Toggles ON but not OFF, results in Breathing effect by default
BL_ON: Will put on but still breathing
BL_OFF: Turns off as expected

Commenting out #define Backlight_breathing in config.h
BL_TOGG: Works as expected
BL_ON: Works
BL_OFF: Works
BL_INC: Works

RGB_TOG:Works

[2018-01-12 23:11] krusli commented on #2224
@danielo515 did you check out the latest version? The underglow would get stuck because I forgot to call `rgblight_task()` in `matrix_scan_user()`.

@ryanm101 the [documentation](https://docs.qmk.fm/feature_backlight.html) does say that it should be defined in config.h and I'd like to keep it consistent with that.

[2018-01-13 04:06] Benjamin-Blackswan commented on #1662
W530-i7@W530 MINGW64 /c/users/w530-i7/downloads/qmk_firmware/qmk_firmware
$ make git-submodule
': not a valid identifierline 88: export: `dashless
fatal: Not a git repository (or any of the parent directories): .git
make: *** [Makefile:579: git-submodule] Error 128

W530-i7@W530 MINGW64 /c/users/w530-i7/downloads/qmk_firmware/qmk_firmware
$ git status
fatal: Not a git repository (or any of the par

[2018-01-13 10:37] ryanm101 commented on #2224
`in your config.h`
So maybe remove it from the `config.h` and let people enable it by placing it in the one in their keymap folder, the same as the prevent_stuck_modifiers

[2018-01-13 11:45] krusli commented on #2224
Your rationale does make sense though, I just think that it'd be better to keep the configuration consistent with other keyboards in the QMK repo.

And yes, I do agree that `BACKLIGHT_BREATHING` shouldn't be on by default. Me leaving the `BACKLIGHT_BREATHING` toggle was just something I forgot to remove after I was done testing.

[2018-01-13 11:49] ryanm101 commented on #2224
Ah if it was just left over no worries.

I'm happy to close this issue out if you think all is finished?

[2018-01-13 11:52] krusli commented on #2224
Go ahead! It's great to see everything working for now. When I have some more time I might try to track down why `BL_TOGG` doesn't work when breathing is on.

Debugging on this board is way tougher as there's no way that I know of to use `hid_listen()` on PS2AVRGB boards.

[2018-01-13 11:55] ryanm101 commented on #2224
Thanks @krusli great work on the support for this board.
Closing as PR https://github.com/qmk/qmk_firmware/pull/2260 has the fixes required

[2018-01-13 11:55] #2224 closed

[2018-01-14 00:21] ryanm101 commented on #2162
@danielo515 I've not used tapdance yet at all. I'm new to the DIY mech scene

[2018-01-14 13:32] Benjamin-Blackswan opened #2271 "Can not compile hex"
I don't know if this is the right place to post this question, but I am not getting any response from reddit.

I have having trouble compiling hex file for Ergodox Infinity.

Getting following error $ make ergodox_infinity:default

quantum/visualizer/visualizer.mk:77: lib/ugfx/gfx.mk: No such file or directory make[1]: *** No rule to make target 'lib/ugfx/gfx.mk'. Stop. Make finished with errors m

[2018-01-14 15:51] danielo515 commented on #2162
@ryanm101 if your are interested in trying it out it's a quite easy and useful function, plus you could help us determine if it works on your keyboard. Basically is assigning a function to a key based on the number of times you hit it within an specific time frame

[2018-01-15 07:24] typester commented on #2011
I had the same issue and couldn't solve it by any configuration.
I gave up and wrote following dirty patch to solve this problem.
https://gist.github.com/typester/38cc078b38e71ea1c09da7a58e656de0

This patch does force reset TAPPING_TIMER when the tap key is released so I can't use tap dance anymore. It's no problem for me, I don't use it.

[2018-01-15 10:07] ryanm101 commented on #2162
@danielo515 Since posting i've done a bit of reading on it and yes definitely looks useful to have. I just need to figure out which keys I want it on. I'll perhaps have a play next weekend

[2018-01-15 10:12] shelaf commented on #2271
If you download source code from github as a zip file, you don't have 'qmk_firmware/lib/ugfx' directory.
Please use git clone command to download it.

[2018-01-15 14:14] steinerlein opened #2274 "Is it possible to use Bluefruit LE UART with an arduino pro micro?"
I am looking to hook [this](https://www.adafruit.com/product/2479) up to a pro micro (32u4)
So far, I had no luck getting any output over the serial port.
Is it possible? If so, how?
Thanks! QMK is awesome 🥇

[2018-01-15 14:20] Duckle29 opened #2275 "Is it possible to initialize USB before matrix_setup?"
Hey there. I've been slaving away for a while, trying to understand the compilation and execution order of QMK, in order to get USB enumerated before matrix_setup() is run.

First, the motivation for why:
I have made a version of the lets_split keyboard, that uses kailh sockets, and has everything soldered onto the board. I couldn't find a method of ensuring that VUSB only had power on the plugged

[2018-01-15 16:12] drashna commented on #2271
Running "make git-submodule" should fix this, IIRC.

[2018-01-15 20:51] toinux opened #2276 "modifier + key not triggered with LT when LT assigned key is released before timeout if NKRO is enabled"
EDIT: this bug occurs only on linux if NKRO is enabled

I'm using spacefn LT(_LAYER,KC_SPC) on my planck.

If I press KC_SPC, wait for the timeout, then KC_A : A is triggered
If I press KC_SPC, then KC_A before the timeout : A is triggered AFTER the timeout

If, instead of A, I'm using a key with a modifier :

If I press KC_SPC, wait for the timeout, then LGUI(KC_A) : LGUI + A is triggered
If I pr

[2018-01-15 23:39] toinux commented on #2276
I can't reproduce the issue on windows 10, will wait tomorrow on my Linux station at work.

[2018-01-16 06:13] underpk opened #2277 "Tap dance doesn't work on ymd96"
I tried to add the tap dance following QMK document but no matter how I try it always error.

Compiling: keyboards/ymd96/keymaps/default/keymap.c                                                keyboards/ymd96/keymaps/default/keymap.c:34:1: error: unknown type name 'qk_tap_dance_action_t'
 qk_tap_dance_action_t tap_dance_actions[] = {
 ^
keyboards/ymd96/keymaps/default/keymap.c:35:3: error: implici

[2018-01-16 12:15] toinux commented on #2276
I tested with xev, SPACEFN then LGUI(KC_F1)

if timeout passes, it works
[code]

if I dont wait for the timeout, only LGUI is registered :
[code]

[2018-01-16 13:09] ahtn commented on #2275
Hi,

I've found a clever solution in [keyplus](https://github.com/ahtn/keyplus) to determine if the USB bus is present without any extra pins before the USB host is initialized.  You can see the [code here](https://github.com/ahtn/keyplus/blob/master/xmega/dual_usb.c#L38) for the approach I used.

Since the USB host has pull down resistors on both the D+/D- data lines, it is possible to determine

[2018-01-16 16:04] drashna commented on #2277
You need `TAP_DANCE_ENABLE = yes` in your rules.mk file.

https://docs.qmk.fm/feature_tap_dance.html#simple-example

[2018-01-16 18:25] steinerlein commented on #2274
After having spent some more time on this, I have been successful on my own. For documentation purposes here is what I did:
In order to use the
[code]
option I recreated the 32u4 feather setup:
1. I flashed the firmware for the bluefruit SPI friend onto the nrf module. I have a bluefruit uart friend, but the ble module is the same. Follow the Adafruit guidelines for this.
2. I soldered six wires b

[2018-01-16 19:05] underpk commented on #2277
Hi, thank for your help. Here is what my keymap.c currently look like, at first I thought it was my config that make things go wrong so I download a fresh copy of YMD96 and just adding tap dance but it still give the same error.

keymap.c
https://pastebin.com/h2hhLGsD

rules.mk
https://pastebin.com/z8VgzFhE

the error
https://pastebin.com/2mPW1xsY

I try adding tap dance in other keyboard (tada68)

[2018-01-16 19:44] drashna commented on #2277
Looks like this keyboard needs `#include "quantum.h"` in the keymap.c file.  Add that, and it should compile.

[2018-01-16 19:53] underpk commented on #2277
Man I try fixing this error for whole day without a clue what is going on and you help me fix it within a min!

Thank you so much!

[2018-01-16 21:12] drashna commented on #2277
Well, most if the keyboards I've used don't need this. So it may be how the keyboard is set up.

Either way, glad to have helped!

[2018-01-16 21:25] underpk commented on #2277
Hi I think there is a few bug here
I follow the **"Example 1: Send : on Single Tap, ; on Double Tap"**
there is no error when I compile but the key won't work if I'm not pressing other button first.

I mean if I just press " TD(CT_CLN)" it does nothing, the ":" or ";" will only appear after I press other button first.

If this is normal? I never use a keyboard with this QMK firmware before.

[2018-01-16 21:45] blastrock opened #2278 "Mod-Tap keys register as tap when used too fast"
I have a key mapped with CTL_T(KC_SLASH), but if I type ctrl+c too fast for example, the keyboard outputs "/c". The events are probably like:

- press /
- press c
- release /
- release c

I thought that PERMISSIVE_HOLD or IGNORE_MOD_TAP_INTERRUPT was what fixed this behavior, and tried all combinations of them without success. Did I do something wrong, or is there another flag to do what I want?

[2018-01-16 23:23] drashna commented on #2277
Create a "config.h" file, with the following contents:

[code]

The key being the "tapping term" variable.

[2018-01-16 23:31] underpk commented on #2277
I tried and it doesn't fix the problem

I read this thread https://github.com/qmk/qmk_firmware/issues/2162 and seems like @danielo515 also have the same problem as me the keyboard also use the same ATmega32a chip.

anyway thank you for taking your time again.

[2018-01-17 00:37] Duckle29 commented on #2275
Man that's brilliant. Thanks for the tip!

[2018-01-17 01:38] Miodec opened #2279 "Is it possible to keep the input from the previous layer when switching?"
Its pretty hard to describe. Lets say im playing a game, and holding W. If i switch to a layer while holding w, is it possible to lock that input until i come back to the same layer? I tried doing it with kc_trans but that did not work. The second i switch layers (while holding w) - w is no longer sent as input. My poker worked like that, and i was wondering if its possible with qmk.

[2018-01-17 04:02] jjowdy opened #2280 "likely bugs in quantum/matrix.c#matrix_is_on and quantum/process_keycode/process_chording.c#process_chording"
I'm still working on getting my (Mac) environment so I can write and run tests. (I'm running into Xcode/clang issues with incompatible `-Wa,` flags (`-adhlns`) and haven't deciphered the customized makefiles yet. I think I don't understand what toolchain I'm supposed to be using for running tests—has anybody gotten this to work on Mac?—whereas the avr-gcc stuff works fine for compiling my keymap.)

[2018-01-17 10:49] ahtn commented on #2275
The next easiest option is to detect the start of frame interrupt. In the USB protocol, the host will send SOF ([start-of-frame](
http://www.usbmadesimple.co.uk/ums_7.htm#sof_pkt)) packets every 1ms. The gist of this strategy:

1. Attach the USB device. (i.e. assert a pull-up resistor on the D+ line. See `UDCON` register on the ATmega32u4)
2. Wait for the host to detect us
3. Check to see if the s

[2018-01-17 13:08] JonasGe commented on #2226
I am having the same issue on my XD75.

The backlight LEDs are on pin F5. Decreasing the BL level with BL_DEC eventually turns off the LEDs. BL_TOG and BL_INC don't do anything other than turning the LEDs back on. BL_INC isn't supposed to do any dimming/brightening as pin F5 of the ATMega32u4 is no PWM pin but I suppose BL_TOG should also be able to turn the LEDs off?

[2018-01-17 13:13] Camsbury commented on #2011
It looks like a fairly simple patch, at the least. I'll try it out and let you know.

[2018-01-17 16:52] wez commented on #2274
FWIW, https://github.com/wez/qmk_firmware/commits/flutterby is the branch in my fork for the `flutterby` keyboard that I built that uses the SPIFRIEND, which is built on top of the Feather32u4 BLE code base where I prototyped the baseline support.

I also wrote up a build log here, that includes a schematic:
https://www.facebook.com/notes/wez-furlong/building-a-keyboard-ii/10154296367151787/

A co

[2018-01-17 18:06] steinerlein commented on #2274
Awesome, thanks for the feedback! Will check it out and see if the firmware update helps.

[2018-01-18 00:26] underpk commented on #2162
hi @danielo515 you find a solution yet? I have the same problem as yours on different board.

[2018-01-18 01:35] Taudris commented on #2208
The technical reason appears to have been twofold:

1. `rgblight.c` has some vestigial references to TIMER3 in some debug prints (quoted below), suggesting RGB used to require TIMER3 to function. This file now has a function called `rgblight_task()` which is called in QMK's main loop, and uses `timer_read()` for timing instead of a hardware timer.
2. Audio can use pin `B5` or `C6`. Using `B5` requ

[2018-01-18 02:38] tobynet opened #2284 "[Question] Is `pin_to_mux[]` table in `analog.c` for `analogRead()` correct?"
## Summary

I wonder that [a `pin_to_mux[]` table in `analog.c`](https://github.com/qmk/qmk_firmware/blob/0.5.213/drivers/avr/analog.c#L38-L40) was NOT suitable for `Pro Micro` with `AVR ATmega32U4`.

## 👌👌👌👌 Expected 👌👌👌👌

1. Source:
    1. New keyboard from template, and initialize for debugging.
    1. Add below lines in `default/keymap.c`

[code]

        and

[code]

    1. Add below lines in

[2018-01-18 09:40] danielo515 commented on #2162
Hello @underpk
Not, not yet. I'm using a custom solution meanwhile, which is close to tap dance but a bit different.
Basically when I hit a key more than once within a timeframe, a set of instructions is executed in place of that key. For example, if I hit parenthesis then a parenthesis is sent, if I hit it twice then the parenthesis is erased an replaced with a curly brace, if I hit it a third ti

[2018-01-18 09:51] danielo515 commented on #2191
Hello again.

I didn´t tested this in more detail, but it has started working suddenly.
They only things that have happened were:

- I have flashed the firmware from a Mac computer instead of my usual windows machine
- I added support for underglow following the instructions at #2224

Apart from that, everything is the same. I'm scared about this stopping working randomly on the future. The change

[2018-01-18 10:04] underpk commented on #2162
Seems like Autohotkey would be easier to solve this problem for me haha

[2018-01-18 13:58] steinerlein commented on #2274
@wez The firmware downgrade did improve latency a lot! Thanks for the tip. Can you make any sense of the problem with pressing multiple keys (see further up)

[2018-01-18 17:46] fonix232 opened #2285 "Supporting the Tt eSports Poseidon Z RGB"
I've purchased this keyboard a while back on a really good deal, and while it's a fine mech, the software lacks quite a lot - for example it does not run on macOS.

Many have tried to reverse their USB protocols and somewhat working pieces of code are available, but it does not help the fact that the whole thing's firmware is a big steaming pile of manure.

I'd love to see some custom development

[2018-01-18 18:17] wez commented on #2274
Sounds like something might be explicitly clearing the keyboard and sending the cleared state to the spifriend each time the matrix is changing?  Hard to say.

[2018-01-18 19:05] drashna commented on #2285
It looks to be an ARM Cortex-M0, and there are a couple of boards that use it (the Ergodox Infinity, I think).

So the question is, how easy is it to flash?

And somebody would have to map out the matrix, and create the code based on that info.

So, it may be possible.

[2018-01-19 01:04] joedevivo commented on #934
@Wilba6582 I've heard the buzzing from the IS31FL3731 on the Adafruit breakout board, but I don't hear it on the rev2 Zeal60. How were you able to stop the buzzing in rev2?

[2018-01-19 01:14] Wilba6582 commented on #934
@joedevivo for caps >1uF, switch to tantalum instead of MLCC (ceramic). Zeal60 has three 10uF tantalums, one near each IS31FL3731 plus one near the USB connector.

[2018-01-19 01:22] joedevivo commented on #934
Ahh, the Adafruit breakout has some 10uFs. I made my own based on the reference implementation in the IS31FL3731 datasheet, and the largest cap is 1uF and it's also quiet. Thanks for the explanation.

[2018-01-19 21:28] Justinicus opened #2288 "make -- Keymap confused for target?"
Derp. Turns out I had two git repos, and I was working on one while trying to compile the other. I suspect that may have *something* to do with my problem.
------------------------------------------------------------------------
I'm a QMK noob, please help me learn!

I'm using the new mingw paradigm on Windows 10, if that makes a difference. I copied and renamed the keymaps\default to keymaps\just

[2018-01-19 22:16] #2288 closed

[2018-01-19 22:33] Justinicus opened #2289 "make git-submodule errors?"
I get errors when I run `make git-submodule` (which I believe I need to do, since I'm trying to compile & flash an Infinity Ergodox).

[code]

Do these errors mean it didn't work, or it did but not perfectly?

[2018-01-19 22:47] drashna commented on #2288
make sure the spelling is correct.  Otherwise, it does attempt to compile for me.

~~`TAPPING_TOGGLE` is already defined, so you need to add `#undef TAPPING_TOGGLE` first, or use the default of "1".~~

~~For the layers, you can't have "QWERTY" as both the layer number, AND a keycode.  My recommendation is to use `_QWERTY` for the layers. Less changes needed.~~

~~For the keycodes, you only need `S

[2018-01-20 03:23] NateEag commented on #1707
@pmalecka - I just rebased my personal keymap on top of master, and this is working for me now. Thanks so much! This has bothered me for ages.

[2018-01-20 05:58] krohmag commented on #2226
Same issue on my xd75 as well. Resetting back to commit d6215ad6aff3857cea8a6877b56a547a76ab13ac, the commit before #2187, resolved my issue as well, but that didn't satisfy me.

Going through #2187, the issue is line 907 in `quantum/quantum.c` - order of operations wasn't followed like it was in the previous commit.
The line was previously `backlight_tick = (backlight_tick + 1) % 16;` but #2187 d

[2018-01-20 12:53] toinux commented on #2276
Closing because MAGIC_TOGGLE_NKRO is a satisfiying workaround.

[2018-01-20 12:53] #2276 closed

[2018-01-21 09:11] yhara commented on #2122
(FYI) Here is a workaround:

[code]

[2018-01-21 09:52] rickard-von-essen commented on #2122
@yhara that has dangerous implications.

[2018-01-21 12:03] mcroof commented on #1707
@pmalecka Thanks a lot for implementing that! Works really well.

I'll close this issue as I consider this as solved.

[2018-01-21 12:03] #1707 closed

[2018-01-21 18:25] rickard-von-essen commented on #2122
There are actually only two. But yes the options are a) support both or b) use `ggrep` and require that BSD's install it.

[2018-01-22 08:07] pmalecka commented on #1707
@NateEag @mcroof I appreciate the shoutout, glad it is working well for you guys.

[2018-01-22 08:12] Taudris opened #2297 "ErgoDox EZ Shine - Left half RGB update lag and possible solution"
I've found that there is a significant amount of lag when sending LED data to the left half, enough that I can't use it for anything beyond its current purely-decorative functionality. (I was hoping to use it to indicate the current layer, but it's too jarring to press a key and see a cascade from right to left.)

I found that sending the LED data a second time causes an immediate update, so I mod

[2018-01-22 16:01] drashna commented on #2297
I personally use the underglow as a layer indication, with animations too.  I don't see this lag that you're referring to.

[2018-01-22 16:39] Taudris commented on #2297
I already tried slowing down the I2C communication by increasing I2C_DELAY from 1 to 10, with no difference. I doubt it's the cable. I don't have another one I could test with anyway.

The delay I'm experiencing is closer to 100ms. It's enough to throw me off/feel wrong, and it's not something I have to look for to see.

For one of my layers, when you tap to toggle it (rather than press another ke

[2018-01-22 21:37] Taudris commented on #2297
Another thing occurred to me. I did one test last night with a 1 second delay after writing the left half LEDs, and the LEDs did not update until after the delay passed. This suggests that the FPGA has a 1 frame lag with no useful time limit. As to why this 1 frame delay is normally shortened to a few tens of ms, I think these are the possible causes:

1. `rgblight_set()` could be getting called i

[2018-01-22 21:49] skullydazed opened #2298 "Documentation improvements wishlist"
We've been talking a lot lately about what further improvement to documentation we want to make. This is a non-exaustive list, it's mainly so I have somewhere to track this stuff until I have time to tackle it. If you would like to work on something listed below please feel free!

* Environment setup
  * Explain how to clone qmk_firmware
    * Windows
    * Mac
    * Linux
* HOWTO/Guides to Write

[2018-01-22 21:52] joedevivo commented on #2298
Keyboard development for ARM / ChibiOS? :D

[2018-01-22 22:34] DanielGGordon commented on #2298
Some clarity on Permissive hold and ignore mod tap interrupt - and how they work together.

[2018-01-23 03:10] NateEag commented on #1707
@pmalecka I checked your profile but didn't find contact info, so throwing this out here - if you have a way to accept donations online, I'd like to send a few bucks your way as a more tangible thank you. You can reach me via nate@nateeag.com if you like. If you're not interested, no worries.

[2018-01-23 04:15] kaylanm commented on #2226
This definitely fixes the immediate flashing problem but there is still some flicker when keying on my XD75. Is anyone else seeing that behavior? TMK does not have the same issue on the same hardware.

[2018-01-23 04:16] Taudris commented on #2297
So it seems like this is an issue of configuring the I2C peripheral or the pins. I reduced `init_mcp23018()` in `ergodox_ez.c` to this:

[code]

And the lag is gone, even sending the LED data only once. Uncomment the start and stop, regardless of the address passed to `i2c_start()`, and the lag comes right back.

I haven't been able to find a real fix for this. I don't know why sending the LED dat

[2018-01-23 06:40] Taudris commented on #2297
[Video of the issue.](https://drive.google.com/open?id=1AAnmwEFaEEXXtEQcuHhP6cl-HCiV3blN) Matrix scanning disabled is lag-free, matrix scanning enabled is laggy (it's somewhat exaggerated in the video because I added a delay for testing, but you get the idea). Also note the 3 single color LEDs counting with each press; this counting is done in a `CUSTOM_DRIVER` `rgblight_set()`, and you can see th

[2018-01-23 08:22] Taudris commented on #2297
I get the same behavior when setting LEDs using the TWI peripheral instead of bitbanging.

I tried the above technique for disabling slave scanning, then putting `i2c_start(I2C_ADDR_WRITE);`/`i2c_stop();` in a few spots in my `rgblight_set()`. The only theory I have at this point is the FPGA firmware has some kind of issue when I2C traffic for other devices is present.

Anyway, rather than write a

[2018-01-23 15:51] drashna commented on #2297
Wow, that is pretty bad.
For reference: https://photos.app.goo.gl/H0QGtXVT1hD58LrL2

That said, have you tried playing with `QMK_KEYS_PER_SCAN`.  That may help with the issue you're seeing? (or not)
https://github.com/qmk/qmk_firmware/blob/4764e7712109be63df6395d70b069bceb0258e61/docs/config_options.md#behaviors-that-can-be-configured

Also, have you tried pinging Erez from Ergodox EZ?  If not, it

[2018-01-23 16:41] Taudris commented on #2297
Yeah, I can't see any lag at all on yours. I wonder what the difference is.

I doubt `QMK_KEYS_PER_SCAN` would help in this case, as I'm pressing just one key to switch layers. Though it might be good to turn on anyway.

I wonder if the issue would still present itself if I tried disabling slave scanning and sending a non-existent address value. Or sending a start/stop pulse with no address.

@ezu

[2018-01-24 13:29] ezuk commented on #2297
It summons me -- but it doesn't make me know C. ;) If the board was running on Ruby or JavaScript I'd be a little more useful, but for all things C I defer to the one and only @jackhumbert .

[2018-01-24 16:11] #2172 closed

[2018-01-25 06:28] Taudris commented on #2278
I don't know how you attempted to use these settings, but in case you did something else, you have to put them in your keyboard or keymap's `config.h`. This should cause every .c file to be rebuilt; if it does not, you could be doing your build incorrectly. (This is a shot in the dark; I apologize if you already know all this and have it otherwise working.)

Another thing to check for is potential

[2018-01-25 15:35] fonix232 commented on #2285
Yes, I was thinking of doing just that, however while I have the keyboard, I have no knowledge of doing these.

Flashing is a bit of an issue due to the stock firmware using a proprietary protocol, but I think I can reverse the tool used and create a minimal flashing tool that would upload QMK (or a stock firmware). However since QMK is so much more feature-rich (and has working configurators on a

[2018-01-25 19:32] blastrock commented on #2278
Thanks for the answer!

I did put these settings in a config.h file beside my keymap.c file, and it does trigger a full rebuild every time I change it.

I couldn't find any #undef of these settings in the other files either.

I am aware that it could make the opposite scenario bothersome too, but I wanted to try. This key holding feature is one of the things I like the most about this firmware, I

[2018-01-25 19:52] Taudris commented on #2195
It seems like a really bad idea to use USB C in this way. What happens if someone decides to plug an actual USB C device into your keyboard? Say, a laptop, or for some reason, a charger? You need to make sure this kind of attempted usage won't result in damage to any of the involved devices.

Aside from that... One thing you could do is have one key in your matrix be always pressed. This solves bo

[2018-01-25 22:00] Duckle29 commented on #2195
@Taudris All very good points. I'll certainly have to consider all of them when I get back to this project. I have the power pins as power pins, to avoid issues if plugged into a computer. I'll have to make sure the firmware doesn't put voltages on any other pins unless it's sure that it's hooked up to a slave.

I still think it's a good idea, as it's a cheap cable, and it's compact, though it def

[2018-01-26 12:48] raetiacorvus commented on #1708
Thanks @oscar-broman your solution works works for fast typing `DE_LESS`(<) and `DE_MORE`(>) but it blocks the usage `DE_PIPE`(|) which is the same base key but with an `RALT` modifier.

QMKs german keymap defines those keys as following

[code]
and I use the your solution with the following `auto_tap_keys[]` array

[code]

Neither using `DE_PIPE` in the keymap directly nor pressing `KC_RALT` + `D

[2018-01-26 13:03] oscar-broman commented on #1708
@raetiacorvus The way it should be done is by putting `DE_PIPE` into `auto_tap_keys`, and into the keymap. Did you try that?

Only key combinations should be in `auto_tap_keys`.

[2018-01-26 16:04] raetiacorvus commented on #1708
Now I am confused. You have `KC_EQUAL` in there which is a non shifted key and not `KC_PLUS` which i would have seen as key combination.

Putting `DE_PIPE` (`RALT(DE_LESS)`) or `DE_MORE` (`LSFT(DE_LESS)`) in `auto_tap_keys` does not change the behavior at all while with `DE_LESS` in there at least typing `>` while `<` is hold down and vice versa works.

As a workaround for me I disabled the script

[2018-01-27 14:14] raetiacorvus commented on #1708
Not yet sure why but the problem is in this block:
[code]

while trying to debug this i noticed that on an `RALT(kc)` it also detects a `QK_RSFT` which in turn results in my problem.

Because with the following everything works fine, so I guess something goes wrong with the mod detection.
[code]

[2018-01-27 15:17] raetiacorvus commented on #1708
Well one of the problems is, that modifier bits are overlapping so if i understand it right `(keycode & QK_LSFT)` will be true when even only partial bits overlap. Shouldn't it be `((keycode & QK_LSFT) == QK_LSFT)` e.g. QK_LSFT is a subset of keycode?

[2018-01-27 15:55] samperman opened #2307 "grep error running make"
I created a new project using `util/new_project.sh testNewProject` then immediately tried to `make` it. There is a grep error that appears at the end (and all other `make` commands I've tried so far:

[code]

[2018-01-27 16:10] raetiacorvus commented on #1708
So here is the fixed version with the downside, that only left or right version of a modifier gets pressed at the same time.
[code]

[2018-01-27 17:00] drashna commented on #1708
So... considering that the "IS_COMMAND" variable is defined as Left AND Right Shift, that would break that, wouldn't it?
Meaning no way to toggle NKRO, or other bootmagic stuff, correct?

[2018-01-27 17:07] raetiacorvus commented on #1708
Hey I just tried to fix @oscar-broman code so it at least won't register wrong modifiers and works for my case. I am happy if you can add anything to improve it.

Only if you put any of the magic keys into `auto_tap_keys`

[2018-01-27 19:17] raetiacorvus commented on #1708
You can change my code so on right modifier presses both get pressed by changing the `else if` to `if`s. Otherwise you can your magic keys if they collide or change your magic keycombo to something like left shift + right ctrl.

Another less automated solution could be to use custom keycodes like
[code]

But hey I am not really well versed in QMKs codebase so I am happy for any constructive critic

[2018-01-28 01:31] co-dh commented on #2033
For me, I need to run plover with sudo.  I guess the virtual serial is not accessible from normal user.

[2018-01-28 14:12] sanosis opened #2312 "Adding suport for YMDK NP21 (ps2avrGB based) - Number pad"
Not really an issue, but info for those interested in a qmk numpad

[The device](https://www.aliexpress.com/item/21-Key-NPKC-Programmable-Cherry-MX-Kailh-Gateron-Switches-Mechanical-Keyboard-Numpad-Free-shipping/32812732361.html) from Aliexpress.

QMK works on it quite well. I've used jj40 code, the device works like a half jj40 with better matrix map (no switched keys).

Top left key (USB connect

[2018-01-28 15:24] raetiacorvus commented on #1708
@drashna is there a way to properly distinguish between all 8 modifiers from the keycode itself. Am I overlooking something?

[2018-01-28 19:43] tamlyn commented on #1495
Did anything come of this? If not, was it due to technical issues or lack of time?

[2018-01-28 20:39] sanosis commented on #2312
Posted NP21 support.

[2018-01-28 20:39] #2312 closed

[2018-01-29 04:37] jjowdy commented on #2280
I'm pretty sure this code isn't actually used (though fixing it for purposes of having good examples might be worthwhile), so I'll close this out.
(And fwiw, I did get the tests to run on Mac with this recipe:
[code]
But that would obviously need some tweaking for different versions.

[2018-01-29 04:37] #2280 closed

[2018-01-29 06:40] gabeplaysdrums commented on #1456
@mhweaver could you possibly share a topic branch with the code changes you made to get the backlight color showing up on both halves?  That's the behavior I'd like but having trouble groking the changes needed.

[2018-01-29 08:33] krusli commented on #2162
I went ahead and had a look at the code. When I went to try tap dance, it seems to work as expected?

[2018-01-29 08:51] krusli commented on #2277
Go to `matrix.c` and add `matrix_scan_quantum()` within `uint8_t matrix_scan(void)`.

Have a look at the JJ40 `matrix.c` file [here](https://github.com/qmk/qmk_firmware/blob/master/keyboards/jj40/matrix.c).

[2018-01-29 08:56] krusli commented on #2277
Add `matrix_scan_quantum()` before `return 1` in `uint8_t matrix_scan(void)`.

The reason Tap Dance does not seem to be working is because QMK's matrix scanning code, which then calls `matrix_scan_tap_dance()` which handles tap dance keys' timeouts isn't called by the custom matrix scanning code there.

I noticed and fixed this when porting backlighting from the PS2AVRGB code for the JJ40. If anyo

[2018-01-29 08:59] danielo515 commented on #2162
I was asking gods for this to happen. I closely followed your work for restore backlighting to the JJ40, and I was thinking "It will be good if the fix to this problem ended fixing the tap dance one too". Not sure why, but I thought that backlighting effects may require a tune-up of the timer mechanisms.

 I've been porting some of your advances (not all) on backlighting to my branch. I think it i

[2018-01-29 09:05] krusli commented on #2162
If anything I was pretty confident that TIMER0 was functional as the breathing effect for the RGB LEDs does rely on TIMER0 for the effects (`read_timer()`, etc.). My backlighting code uses TIMER1 instead to set up PWM for dimming, following the PS2AVRGB code and the breathing effect by hooking into an interrupt I set up using code which closely follows `backlight.c`.

I was pretty (pleasantly) sur

[2018-01-29 09:30] danielo515 commented on #2162
Hello @krusli

I'm having some problems with your branch. Since you have defined a hard version of `matrix_scan_user` I can't override it on  my keymap.
Don't get me wrong, I don't have great interest on overriding the function, but I am very interested on the leader key feature. Such feature requires editions (or hooks) on `matrix_scan_user` . I would love to keep my differences from the master q

[2018-01-29 09:32] underpk commented on #2277
Thank you so much @krusli I would try it out once I back home. 👍  👍  👍

[2018-01-29 09:39] krusli commented on #2162
You're right - for a keyboard/keymap level config it should be `matrix_scan_kb` instead of `matrix_scan_user`.

In theory, replacing the entire `matrix_scan_user(void)` function in `jj40.c` as follows should let you still define your own custom code to run at each matrix scan.

[code]

[2018-01-29 09:49] danielo515 commented on #2162
Again, thank you very much @krusli
Are you going to make those changes on your branch too so everybody can benefit from it ?

Something I noticed is that the compiled code size has increased greatly. I was forced to remove the following features to make my build fit on the jj40:

[code]
Not a deal-breaker because I was not using it anyway, but definitely something to mention.

[2018-01-29 10:34] danielo515 commented on #2162
I can confirm that the changes made by @krusli enabled the tap dance to work on the jj40 keyboard.

I'm so happy and grateful that I'm not sure how to express it. Let's try with some emojis:

😄 😄 😭 😭 🎉 🎉 🎉 🏆 🎉 🎉 🎉

[2018-01-29 12:06] sQVe commented on #2111
This now works with `libinput 1.9.4-1`. Closing.

[2018-01-29 12:06] #2111 closed

[2018-01-29 12:53] fonix232 commented on #2285
Okay, did some research.

The keyboard uses the NPC LPC11U35F/401 controller, and 3x MB15042GP B1P141CFHB for LED control (one controller for each color channel of RGB).

The switches themselves seem to be on a standard diode grid, but pin mapping is questionable - easiest would be if I could deploy a test firmware that pushes the pin of the key I pressed to the PC it is connected to.

I think I'l

[2018-01-29 15:38] underpk commented on #2277
Hi @krusli  I tested and it does error...

[code]

I don't know what to do next...

[2018-01-29 15:47] krusli commented on #2277
Use ymd96.c from my [GitHub gist](https://gist.github.com/krusli/c5dbaff00985389e274522678cf69331). The code is pretty much identical to the JJ40 code.

[2018-01-29 15:50] underpk commented on #2277
I just check your matrix.c and I copy these line

[code]

and its work! I don't even know what it does. Thank you so much again :)

[2018-01-29 15:59] krusli commented on #2277
The QMK docs on [custom functions](https://github.com/qmk/qmk_firmware/blob/master/docs/custom_quantum_functions.md) and [tap dance](https://docs.qmk.fm/feature_tap_dance.html) should be helpful.

In a sense, the original custom matrix scanning code overrides the default matrix scanning code from QMK. It, however, didn't have a call to `matrix_scan_quantum()`, which then calls `matrix_scan_tap_dan

[2018-01-29 16:10] nooges commented on #2307
It's related to one of the grep calls in the check-size function not being cross-platform. There's a couple PRs out there to fix this like this one: https://github.com/qmk/qmk_firmware/pull/2189

[2018-01-29 16:17] underpk commented on #2277
Yes the RGB underglow still works but I rarely turn them on.

[2018-01-29 17:13] danielo515 commented on #2277
Hello @krusli

May I ask you how did you realized ? Did you pereform any debugging? If so,would you mind to point me to embedded hardware debugging resources ?

Regards

[2018-01-29 22:39] krusli commented on #2277
It was just me reading the code manually and just searching for the function definitions and where they get called. QMK has a built in way to debug using hid_listen (https://docs.qmk.fm/faq_debug.html) but last I remember it wasn't working on the 32A or at least the PS2AVRGB boards.

I did use `send_string()` to just send strings for debugging though although putting it in matrix scanning code is

[2018-01-29 23:32] ryanm101 commented on #2191
Not working  for me
[code]
results in
[code]

using `https://github.com/krusli/qmk_firmware` as he has JJ40 tapdance working

[2018-01-30 05:23] danielo515 commented on #2277
Thank you for your answer.

Yes,I know. It's very sad

[2018-01-30 05:25] danielo515 commented on #2191
Sorry, I was unclear. What started working was sending the enter key after a short string of less than 5 characters.

[2018-01-30 07:44] krusli commented on #2277
https://github.com/tmk/tmk_keyboard/issues/12 - with VUSB (the protocol used by the PS2AVRGB boards) Hasu noted that debug messages should go via UART for VUSB (which then can be seen by listening to a serial port).

In JJ40 (and the other PS2AVRGB boards') `rules.mk`:
[code]

I tried setting `NO_UART` to `no` along with the other changes for console output but it seems like it results in a lot of

[2018-01-31 08:48] raymond-liang opened #2322 "AUDIO_ENABLE does not work on Satan GH60"
Audio relies on pins C6 or B5 which I believe are used for the keyboard matrix.

Enabling audio causes the keys on the 5th column to not register or to register all 4 keys at once (4rfc).

Enabling B6_AUDIO (backlight pin) and disabling the backlighting option also does not work and causes the board to be unrecognised.
[https://github.com/qmk/qmk_firmware/tree/b6_b7_audio](url)

Is it still possib

[2018-01-31 16:51] MacDamien opened #2323 "I can't find why the linker can't link (I'm poor at programming and English)"
Hi,

I try to create a keymap.c that fit with QMK.

I’m on MacOS High Sierra.

[keymap.c.zip](https://github.com/qmk/qmk_firmware/files/1682513/keymap.c.zip)

what’s my terminal returns, a problem encountered by the linker… :

MBP-de-dv1-2:qmk_firmware dv$ make ergodox_ez:bepo_plover
QMK Firmware 0.5.215
Making ergodox_ez with keymap bepo_plover

avr-gcc (GCC) 7.3.0
Copyright (C) 2017 Free Softwar

[2018-01-31 19:19] Trevortds commented on #1864
I am also seeing this problem. Slave board would suddenly stop working, display the QMK logo, then "SUSPENDING". Switching the right board to master seems to have solved this problem, at least in the short term.

[2018-02-01 16:51] skullydazed commented on #2226
This looks like a simple patch. Would someone like to put a PR together and we'll get it merged in?

[2018-02-01 18:05] skullydazed commented on #2241
Interestingly enough @mavanmanen and I were talking about a feature like this on [gitter](https://gitter.im/qmk/qmk_firmware) this morning. This would definitely be a good feature to have.

One of the issues I thought about with an approach like you describe is that it would be difficult to support mods like Ctrl+V. That was the specific use case that prompted the conversation this morning.

[2018-02-01 18:17] skullydazed commented on #2271
@Benjamin-Blackswan did `make git-submodule` fix this for you, as @drashna suggested? If so can we close this?

[2018-02-01 18:29] kennycoc commented on #2241
The rest of my parts should be here in a few days.. I've been thinking about this a bit more since then; here's my current idea of how it could work:
Type any number n while holding multi-key to set number of times to repeat.
Release multi-key and type any arbitrary amount of text or commands.
tap multi-key to finalize and send keystrokes n times.

This may be overkill for simple use cases though,

[2018-02-01 18:49] skullydazed commented on #2289
It looks to me like there's a bug in msys2's git, but that things probably worked. Here's the issue from msys2:

https://github.com/Alexpux/MSYS2-packages/issues/735

[2018-02-01 19:26] skullydazed commented on #2194
We don't currently have support for those modes, mostly because no one has written them. If someone would like to take on that task this can serve as a placeholder for that work.

[2018-02-01 19:38] skullydazed commented on #2179
This is very cool, but I don't know how we possibly include this. Leaving this open to discus the possibility for now.

[2018-02-01 20:12] skullydazed commented on #2164
Did this work for you @K-rnivoro?

[2018-02-01 20:17] K-rnivoro commented on #2164
Oh, sorry I didn't reply!! It worked like a charm!! Thanks Skully!!

2018-02-01 17:12 GMT-03:00 skullydazed <notifications@github.com>:

[2018-02-02 04:06] #2226 closed

[2018-02-02 06:10] #2122 closed

[2018-02-02 06:52] danielo515 commented on #2162
I can confirm that tap dance now works flawlessly. Awesome!
Thanks and thanks again

[2018-02-02 06:52] #2162 closed

[2018-02-02 06:53] #2277 closed

[2018-02-02 10:55] mavanmanen commented on #2241
This is my current way of implementing functionality like this: https://pastebin.com/C1P6sqM1

[2018-02-03 05:40] Benjamin-Blackswan commented on #2271
No, it got this error

$ make git-submodule
': not a valid identifierline 88: export: `dashless
fatal: Not a git repository (or any of the parent directories): .git
make: *** [Makefile:579: git-submodule] Error 128

[2018-02-03 17:49] legrostdg commented on #2152
It fixes the issue for me.

[2018-02-04 20:03] skipperwarlock commented on #1902
@Twwow were you ever able to fix this? Having the same issue

[2018-02-04 21:40] elliotboney commented on #1584
This is awesome! I was just thinking about this today when I was using a GUI for my keyboard layout  and was of course losing my key place in keymap arrays.

+1!

[2018-02-04 22:25] mavanmanen commented on #2241
Second iteration, using a callback to call after input has been given, allows input of numbers and letters + space: https://gist.github.com/mavanmanen/3a919d4fc8f6e84aeda33442a5fc9261

[2018-02-05 00:15] Pawnerd commented on #1584
https://i.imgur.com/a2eG6bm.png
https://i.imgur.com/sgCZjV1.png
Working on it ;)

[2018-02-05 09:42] millipz opened #2344 "This device cannot start (Code 10) - Plover Steno layout"
![image](https://user-images.githubusercontent.com/1217784/35797565-ffc80a8c-0a57-11e8-86b7-8aa3a28b7af1.png)
My Plover layout reports this error when connected to my Windows 7 PC. Works as expected on Mac. No keypresses work in Plover. Any suggestions of how to troubleshoot gratefully received.

[2018-02-05 16:37] elliotboney commented on #1584
@Pawnerd wow, i need that now

[2018-02-06 04:29] Legonut opened #2346 "new keyboard"
Hi, I've got firmware for a new keyboard
https://legonut.gitbooks.io/zen-keyboard/content/
I've got ~60 people who will need the firmware, so merging it with QMK master seems like the best plan. Do I need permission to make a pull request?

[2018-02-06 04:31] jackhumbert commented on #2346
Awesome! No permission needed - just go ahead! [We do have guidelines](https://docs.qmk.fm/hardware_keyboard_guidelines.html) :)

[2018-02-06 04:38] Legonut commented on #2346
Thanks, I'm trying to do it through the github windows client, and when I make a pull request it says I don't have permission to publish

[2018-02-06 04:46] Legonut commented on #2346
Ah I needed to fork it, trying again now

[2018-02-06 04:53] mgarcia-accesso opened #2348 "Levinson - Extra-data Kills right hand keys"
Adding RGB underglow, when attaching left-hand DO from LED strip to extra data pin to trrs cable allows for rgb on right hand but typing breaks. I can plug in the right hand alone and typing is fine. Removing the connection to extra data removes the rgb control on right side but typing returns.

[2018-02-06 05:00] drashna commented on #2346
Yeah, fork it, push to the fork and then create a pull request. :)

[2018-02-06 05:05] drashna commented on #2348
Are you using I2C or Serial?

RGB Underglow only works with serial, not I2C.

[2018-02-06 05:17] mgarcia-accesso commented on #2348
#define USE_SERIAL is set in my config.h

[2018-02-06 05:20] drashna commented on #2348
Ah, yeah, the Levingson defaults to using "I2C".  This requires both data channels of the TRRS cable, so the "Extra data" port isn't available.  And this is why it's breaking the keyboard.

In your keymap folder (where your "keymap.c" file is), create a "rules.mk" file.  If this already exists, then just edit it.
[code]

Save the file, and then compile.  This should allow you to use both halves *a

[2018-02-06 05:37] mgarcia-accesso commented on #2348
P.S. I ran make levinson/rev2:winninggeneration:clean first.

[2018-02-06 05:46] drashna commented on #2348
checking it more .... yeah, there isn't a good solution here.  The backlight uses I2C, so that may be why you're having issues with it.

And there isn't a good solution here, if that is the case. :(

[2018-02-06 05:58] mgarcia-accesso commented on #2348
@nooges  Seeing the same as above when flashing your keymap bakingpy2u. Did you encounter anything similar?

[2018-02-06 23:41] raycewest opened #2353 "Debug messages on matrix_init_kb() and pointing_device_init()"
Trying to get an ADNS9800 working alongside my matrix on a Pro Micro - might elaborate on that in a separate issue, but for here:  can i expect to the init functions to output any print() messages I have in there, or do they run too early in boot process for hid_listen to pick up on them?  I'm not sure if the firmware for the ADNS is getting loaded or not, when the keyboard gets plugged in.

[2018-02-07 01:53] mgarcia-accesso commented on #2348
Convinced after much testing that it's an issue with an underlying solder point on a trrs jack or something similar. Closing issue.

[2018-02-07 01:53] #2348 closed

[2018-02-07 03:27] kyleshrader opened #2354 "DZ60 default keymappings are not the same as DZ60 rev2"
I just got a DZ60 rev2 usb-c and I have noticed a lot of the keymappings that come with the default firmware do not match up with what is in qmk_firmware/keyboards/dz60/keymaps/default/keymap.c

I assume what was shipped with rev1 and rev2 are different. I can upload a default-rev2/keymap.c if there is a way to extract it, before I flash my own on top of it.

[2018-02-07 03:37] jackhumbert commented on #2354
Unfortunately it's up to the manufacturer/designer to maintain their default keymaps here, and we try to encourage them to do so, along with tagging the release ([our guidelines](http://qmk.fm/powered/) detail this) - if you wanna write them a note about this encouraging them to update it, that would be great!

[2018-02-07 03:38] #2346 closed

[2018-02-07 03:50] kyleshrader commented on #2354
I also notice the board is reporting the following:

[code]

Which seems like a different product id than was recorded in the DZ60. In-fact it's the plank's product id. Also the manufacturer and product are different. T_T okay I'll let them know.

[2018-02-07 03:50] #2354 closed

[2018-02-07 04:00] jackhumbert commented on #2354
Yeah, I think they use their kbfirmware builder to generate the firmware, and don't update/push things here. We very much wish they would submit PRs here :/

`FEED:6060` was used by the GH60, and lots of keyboards in QMK use it because the Planck did, and the original Planck code was copied from TMK's GH60 port cause Matt3o's Brownfox guide recommended that at the time :)

We're working on a solut

[2018-02-07 04:50] kyleshrader commented on #2354
Well before I dump it I will try to fully replicate it (kinda hard when not all keys report out like fn keys) and post it here or somewhere else. It'll gimme something to do while I wait on keycaps and try to replace a broken neopixel

[2018-02-08 00:08] chowdhary opened #2359 "Support for BBC micro:bit?"
I can't find any information on microbit support in qmk. Is it even possible? Based on the chibios readme, the support for Nordic nRF51822 (the application processor) is very limited - but only talks about the BLE capability. The microbit also has the Freescale MKL26Z128VFM4 interface processor - which is used by the Teensy 3.x's. How difficult, if at all possible, would it be to port qmk to the m

[2018-02-08 21:47] #2152 closed

[2018-02-08 21:47] #2252 closed

[2018-02-08 21:47] #2307 closed

[2018-02-08 23:42] Nicktho commented on #2354
I mapped mine out with http://qmkeyboard.cn/, my keysettings.json is available here https://gist.github.com/Nicktho/8894c0135f20aa23e24e377741531e56. Not sure if that helps

[2018-02-09 00:50] Nicktho opened #2367 "KC_LGUI and KC_RGUI not triggering cmd on OSX"
I'm confused, I've been running qmk on my dz60 rev 2 for a few months now with no problem. Today after booting up OSX KC_LGUI and KC_RGUI stopped working as `cmd` on osx. I'm running El Capitan 10.11.6 (15G1217) which isn't new and this occured without flashing the board. I reflashed the board just in case and still the same issues.

I remapped the cmd keys to space and they work fine, its just KC

[2018-02-09 00:54] Nicktho commented on #2367
Also confirmed mapping any other previously working key to KC_LGUI or KC_RGUI does not work.

[2018-02-09 00:54] Nicktho commented on #2367
Using karabiner event viewer shows nothing being sent either.

[2018-02-09 00:57] jackhumbert commented on #2367
With bootmagic enabled, holding down your salt (usually space) + the GUI keys when plugging in the keyboard will disable them. Pressing salt + backspace when plugging it in will reset this!

[2018-02-09 01:03] Nicktho commented on #2367
Yes! Thankyou so much.

[2018-02-09 01:03] #2367 closed

[2018-02-09 02:29] lbibass opened #2368 "Clueboard 60% not compiling: weird error."
I'm having this error when trying to compile the firmware for the clueboard 60%

![screen shot 2018-02-08 at 9 26 36 pm](https://user-images.githubusercontent.com/27320050/36008825-1fe9e51c-0d17-11e8-8ef8-fb8c916d7e3c.png)
Anyone know how to fix? This is with the most recent revision of QMK by the way.

[2018-02-09 02:49] drashna commented on #2368
Have you tried running "make git-submodule" yet?

[2018-02-09 11:46] yiancar commented on #2323
Maybe you need to #include "action_layer.h" ?

[2018-02-09 13:35] lbibass commented on #2368
@drashna unfortunetly, that didn't work. I tried cloning ChibiOS into lib, still didn't work. :(

[2018-02-09 15:02] lbibass commented on #2368
*I fixed it, I just downloaded the newest version of QMK.

[2018-02-09 15:02] #2368 closed

[2018-02-09 19:09] MacDamien commented on #2323
I resolved this issue, but I forgot to come back here, and now, I don't remember how I solved it. Thank you for your answers, but now I couldn't know if your solutions works.

[2018-02-09 19:09] #2323 closed

[2018-02-11 20:25] Anakey1 opened #2382 "Seperate keypad matrix not working"
https://github.com/Anakey1/qmk_firmware/tree/master/keyboards/handwired/Myth

The main keyboard block functions as normal however the seperate keypad does not give output.

[2018-02-12 14:28] dpapavas opened #2384 "Add the ability to send shifted keycodes with a mod-tap"
I'm opening this issue to draw attention to the pull request (#2055) I've issued a couple of months ago and which I've been using since, without noticing any problems.  I hope this practice is not frowned upon.  An excerpt from the description of the proposed functionality follows:

[2018-02-12 19:41] colemarkham commented on #2229
I know that KC_RESET worked last time I tested it. You have to #define CATERINA_BOOTLOADER like on the pro micro, but even that isn't working now. Something must have changed between Sept/Oct and now. I'm currently not getting anything to work on my Feather BLE 32u4 with code that worked a few months ago. I do remember something about needing an older firmware version for the RF module, so I'm loo

[2018-02-12 20:22] MarioRicalde commented on #1950
Did this actually help? What's the status with this issue? Seems abandoned.

[2018-02-12 21:14] ccristob commented on #1950
Unfortunately I'm not able to test this now as PUBG has removed the crouch+jump from their game and even if it's there, it's also not useful anymore now that the game has vaulting. Much thanks to seebs though, as what he suggested is most likely what the issue was here.

[2018-02-12 21:35] MarioRicalde commented on #1950
Awesome. You can close this issue! 👍

[2018-02-12 21:36] #1950 closed

[2018-02-13 05:35] skullydazed opened #2389 "Discussion: Bootmagic confuses people a lot"
We've been seeing an uptick lately in bootmagic related issues. It seems that a lot of people accidentally trigger bootmagic while plugging in their keyboards and then aren't sure how to fix it. I've been talking with @jackhumbert a bit about this, and it seems there are several factors at play here:

* Bootmagic is poorly documented
* Bootmagic is often enabled by default for unclear reasons, and

[2018-02-13 05:51] drashna commented on #2389
My vote is for it to be disabled by default.

But clear documentation of the feature and how to enable/disable the features is needed, regardless of what happens.  As it stands, every time it comes up, I end up having to dig just to find the keys that enable it.

[2018-02-13 06:14] harshitgoel96 commented on #2229
@colemarkham thanks for looking into this. I can confirm that I am using the latest firmware that was available in Aug 2017. I completed the build in December and that is when I noticed the issue.

I have not tried using  #define CATERINA_BOOTLOADER  option. i will try to this today and let you know if this changes anything.

[2018-02-13 07:11] yanfali commented on #2389
I think the only issue may be PCBs that have lost their reset button, e.g. the DZ60 type C. On that keyboard you may actually want to leave it on as it's their only way to get into the bootloader without removing the PCB and shorting the MCU.

[2018-02-13 10:19] Vifon commented on #2389
My vote is for leaving it enabled by default and documenting it thoroughly. Changing the default key might help too. Half of the time Bootmagic gets to be useful, the user actually discovers it for the first time, for example to flash a half-bricked keyboard without unscrewing it and reaching to the reset button.

[2018-02-13 11:25] Wilba6582 commented on #2389
You might want to consider a "bootmagic lite" which I use. I disable the full bootmagic and just call this in `matrix_init_kb()`, thus there is always a fail-safe way of both starting in bootloader and resetting the EEPROM state (which can be handy during development and also behaviour due to the EEPROM state being "stuck").

[code]

It's not generalized enough to put into common code, but somethi

[2018-02-13 11:59] alex-ong commented on #2389
leave it enabled and make it more visible. Disabling Bootmagic is bad for things like http://kbfirmware.com/  since a large amount of first time users don't pull the source code and build themselves. Even something small like a link to boot-magic explained on the kbfirmware.com website would probably be a good enough "fix"

the first time i built a keyboard powered by TMK i used kb.sized.io. I won

[2018-02-13 13:15] henrebotha commented on #2389
We **absolutely** must add something about this to the FAQ.

@alex-ong I hear you, but to me that just says that external projects that depend on QMK need to stay up to date with QMK changes. We shouldn't be hamstrung by compatibility changes. If nothing else, kbfirmware.com et al can just pin their dependency to the last commit before we disable bootmagic by default.

[2018-02-13 13:56] lbibass opened #2394 "Issu: Locking Caps Lock Does not Work on Clueboard 60%"
Not sure if this is limited to this board or if it is broken on all ARM boards, but I just wanted to call attention to this issue. I've already checked, locking is enabled in my config.

[2018-02-13 14:05] lbibass commented on #2389
Yeah, bootmagic has saved my butt many times, especially with the DZ60 type-c. Please keep it enabled, at least for specific builds/PCBs that might need it badly.

[2018-02-13 16:23] skullydazed commented on #2389
Thanks for the feedback so far everyone. Keep it coming!

I think both @drashna and @yanfali make good points about what the default should be. Comments seem to be in favor of keeping it enabled right now due to boards (like the dz60) that make the hardware reset button hard or impossible to access, but the thumbs up seem to favor disabling it. We won't commit one way or the other yet but will con

[2018-02-13 16:25] Tiryoh commented on #2099
I don't have the Keyboard yet, but I think editing `tmk_core/avr.mk` in line 184-187 will solve the problem.
Would you mind trying this?

edit this file(`tmk_core/avr.mk`)
https://github.com/qmk/qmk_firmware/blob/c5d81a84a0519c78de1b5e165f5f2c1eb773bc11/tmk_core/avr.mk#L184-187
[code]

as this:
[code]

Please be careful that you should indent with TABs in Makefile.

[2018-02-13 16:28] henrebotha commented on #2389
@skullydazed Bit off topic but I get a cert warning from Chrome on config.qmk.fm.

[2018-02-13 16:36] skullydazed commented on #2389
@henrebotha looks like we don't have SSL enabled for that yet. Thanks for the note I've edited my post.

[2018-02-13 16:51] drashna commented on #2389
Yeah, for the boards that have hard to access reset buttons, or no reset buttons, then leaving it enabled would be a good idea.
However, as long as they have the RESET code in the keymap, then they shouldn't need the bootmagic option either.

But also, something that should be kept in mind (both for and against) is that this can always be override "per user".  (and having the rules.mk option avail

[2018-02-13 17:04] lbibass commented on #2298
Talk more about Tap Dancing: the documentation wasn't very clear to me, and I feel like some improvements could be made.

[2018-02-13 17:26] drashna commented on #2389
Also, as mentioned in the gitter chat:
Command and bootmagic heavily overlap. Documentation should include this (state it, and even list both methods for each action)

[2018-02-13 18:50] JohanJu opened #2395 "[Feature Suggestion] mod key change layer"
Would it be possible/desirable to add a macro ML(mod, layer) it will be like MO(layer) but sending the mod key too. My use-case is that I use Colemak for writing but would like QWERTY for ctrl stuff.

Here is a quick hack of the functionality for ergodone(ergodox clone)
https://github.com/JohanJu/qmk_firmware/blob/32e9ed2ca102c0bc045f8f3126b22fdb120b4031/tmk_core/common/keyboard.c#L211-L218

[2018-02-13 19:25] ryanm101 commented on #2191
Just tried
[code]
still results in
`git chec`

[2018-02-13 20:32] Anakey1 commented on #2382
fixed it, needed to put KC_NO for the missing parts of the matrix

[2018-02-13 20:32] #2382 closed

[2018-02-14 00:23] bentomas commented on #586
Just want to say that I'd really love the features discussed here.  As it exists now KC_LEAD doesn't really work for me.

I can look into cleaning it up but I don't know any C, so it's a bit tricky for me to figure out.

[2018-02-14 16:33] Tiryoh commented on #2099
Thanks to [pluis9](https://twitter.com/pluis9/status/963803732889632768), I think I found the way to fix this issue.
We need to edit this file(`tmk_core/avr.mk`)
https://github.com/qmk/qmk_firmware/blob/c5d81a84a0519c78de1b5e165f5f2c1eb773bc11/tmk_core/avr.mk#L184-187
as this:
[code]

<img width="509" alt="lesance" src="https://user-images.githubusercontent.com/3256629/36215623-f56c1958-11ef-11e8-

[2018-02-14 16:48] Tiryoh commented on #2099
Thanks to [pluis9](https://twitter.com/pluis9/status/963803732889632768), I think I found the way to fix this issue.
We need to edit this file(`tmk_core/avr.mk`)
https://github.com/qmk/qmk_firmware/blob/c5d81a84a0519c78de1b5e165f5f2c1eb773bc11/tmk_core/avr.mk#L184-187
as this:
[code]
<img width="511" alt="lesance" src="https://user-images.githubusercontent.com/3256629/36216467-41579b10-11f2-11e8-9

[2018-02-14 17:39] drashna commented on #2099
Nope, doesn't work here.
And I suspect that you  have a very out of date version.

[2018-02-14 19:09] Tiryoh commented on #2099
@drashna,

Thanks for trying.

Do you mean that you got the same error like https://github.com/qmk/qmk_firmware/issues/2099#issue-279117518?

I'm sorry to have confused you.  I'm working on this version : b89e318d35b295465a14679f27d71077a51daa3b
I specified c5d81a84a0519c78de1b5e165f5f2c1eb773bc11 for the URL because this commit is the latest version of `tmk_core/avr.mk`.

[2018-02-14 19:23] drashna commented on #2099
Ah, doesn't help that I'm using a hacky hack for running MSYS2 (in VS2017).  The second one works.  I have to change it to MSYS because that's how it shows up in VS2017.

[2018-02-14 19:32] Tiryoh commented on #2099
@drashna,

Thanks for the information.
I think this might work.
[code]

[2018-02-14 19:41] drashna commented on #2099
Success!!  This work in MSYS, MINGW, and in my hacky whack-whack terminal session!

[2018-02-14 19:49] drashna commented on #2099
Checking another in progress PR... this looks cleaner:

`if grep -q -s 'MINGW\|MSYS' /proc/version; then \`

So, it would be:
[code]

[2018-02-14 20:49] #2099 closed

[2018-02-15 04:41] drashna commented on #2109
Yeah, I had this issue, as well.

I just use `rgblight_sethsv` rather than setrgb, since it works better.

[2018-02-16 15:32] r4dr3fr4d opened #2402 "Best code modification to include arduino headers"
Hello, wanting to integrate some of [this](https://github.com/mrjohnk/ADNS-9800) code into an existing keyboard dir.  What would be the best way to reference outside arduino libraries (e.g., SPI)?

[2018-02-16 16:09] drashna commented on #2402
Not sure if it will help, but a number of the split keyboards use serial communication to link the boards.
You could probably use that code to do whatever it is that you want to do.

[2018-02-16 18:19] raycewest commented on #2402
Yeah I'm working off of Lets Split.  I'm trying to hack the ADNS-9800 example sketch code into pointing_device code inside of rev2.c.  It's employing SPI, which if I understand correctly, is more specialized than what's found in serial.c,  and it's the only way I've gotten the ADNS to function so far, which is why I'm trying to integrate it.  I think I just have to edit an existing .mk to point to

[2018-02-16 18:33] drashna commented on #2402
Ah, okay.  Well, the dichotemy Keyboard has a mouse/pointer feature that uses serial.  Again, I'm not sure how much help that may be, but ....

Otherwise, @jackhumbert or @fredizzimo would be best able to answer this.

[2018-02-16 20:19] raycewest commented on #2402
Yeah it's honestly more of an Arduino issue rather than a QMK one.

I've tried appending "-I/usr/share/arduino/..." to CFLAGS in let's split's rules.mk, but "Arduino.h" isn't getting picked up.

[2018-02-17 02:48] raycewest commented on #2402
So, the pin #define's in config_common.h are butting heads with the ones in pins_arduino.h (from the arduino folder).  @jackhumbert, @fredizzimo, could either of you offer any insight on how to integrate functions from an arduino sketch into a qmk keyboard folder?

[2018-02-18 19:14] bhilburn opened #2411 "Tapping Toggle Not Working"
Hello!

I'm having a bit of trouble getting Tapping Toggle working in my keymap. I'm not doing anything complex, so I think I must be missing something simple.

Code is here:
https://github.com/bhilburn/qmk_firmware/blob/tap-toggle/keyboards/dz60/keymaps/cstd60/keymap.c

It doesn't seem to have any effect - it simply continues to function as though the `TT(2)` was an `MO(2)`. I've tried using `OSL

[2018-02-19 11:38] baronTommy opened #2412 "Another key is executed"
A key tap -> Brightness change
Why?

---
https://github.com/baronTommy/qmk_firmware/tree/master/keyboards/kinesis/stapelberg

- qmk_firmware
  - https://github.com/baronTommy/qmk_firmware

- command
  - `docker run -e keymap=my_keymap -e keyboard=kinesis --rm -v $('pwd'):/qmk:rw edasque/qmk_firmware`

- log
[code]

[2018-02-19 12:35] yiancar commented on #2412
I see that you modified the matrix.c file. I would argue that probably something is wrong there

[2018-02-19 12:48] baronTommy commented on #2412
@yanfali
Is there a cause?
my_keymap is default copy

---
commit log
https://github.com/baronTommy/qmk_firmware/commits/master

commit
https://github.com/baronTommy/qmk_firmware/commit/32a2c579b6e22c02b039f6b1916b7f7d13da27a3

[2018-02-19 12:59] baronTommy commented on #2412
![2018-02-19 at 21 59](https://user-images.githubusercontent.com/16768208/36378938-21bbd6be-15c0-11e8-93ab-75ecffd75f6f.png)

[2018-02-19 13:25] yiancar commented on #2412
Sorry I dont unserstand. but i think you are using a custom matrx. I dont think you should.

`CUSTOM_MATRIX=yes # need to do our own thing with the matrix
`
disable this

and im pretty sure u dont need this
`+SRC=  matrix.c`

[2018-02-19 14:04] baronTommy commented on #2412
@yanfali
I changed it, but I can not do it well.

https://github.com/baronTommy/qmk_firmware/tree/master/keyboards/kinesis
https://github.com/baronTommy/qmk_firmware/tree/master/keyboards/kinesis/stapelberg

[code]

rules.mk
[code]

[code]

[2018-02-19 14:52] yanfali commented on #2412
@barronTommy, yanfali != yiancar 😁

[2018-02-19 15:10] baronTommy commented on #2412
@yanfali
sorry

[2018-02-20 06:36] yanfali commented on #2389
I'd be happy to draft an initial markdown documenting what I can understand of bootmagic. The bits I don't really get are DEBUG related. That would probably require a core dev to chime in. Let me know if you'd like a PR a start on that.

[2018-02-20 12:07] #2412 closed

[2018-02-20 15:39] #2394 closed

[2018-02-21 01:28] skullydazed commented on #2389
@yanfali That'd be great to get a start on it. I haven't had a chance to write anything yet so I encourage you to write up what you can and let others fill in the blanks.

[2018-02-21 16:00] callumstephenson opened #2424 "How would I go about making cos-pad firmware?"
I've got no idea how to do anything, would I need drivers and how would I flash QMK etc...

[2018-02-21 16:50] drashna commented on #2424
Start here:
https://docs.qmk.fm/getting_started_github.html
https://docs.qmk.fm/getting_started_build_tools.html

Fork QMK first.  If you're on Windows, set up MSYS, use the "git clone" option and then run the QMK `util/msys_install.sh` stuff.

That will get QMK set up to "do stuff".

From there: https://docs.qmk.fm/getting_started_make_guide.html

From there, the cospad is already in QMK.  Under

[2018-02-21 18:08] knanan opened #2425 "ps2avrGB build fails"
the result of make is:

[code]

[2018-02-21 18:19] knanan commented on #2425
All the special prerequisites are installed, other keyboard builds are `[OK]` - this one just fails silently without verbose

[2018-02-21 20:08] drashna commented on #2425
Yeah, can confirm that this is happening.   And it's not a chibiOS issue, as I tested other boards, and they compile file.

[2018-02-24 16:24] drashna commented on #2191
The issue is here: https://github.com/qmk/qmk_firmware/blob/a258358b6c2df0d1347a6506831076ef6a9784b3/tmk_core/protocol/vusb/vusb.c#L49

It's virtual USB, and it's dropping stuff rather than waiting.

[2018-02-24 18:58] raycewest commented on #2353
If I could follow up:  has anyone else observed this (lack of) behavior?  I can notice a change of a static variable inside of pointing_device_init(), but nothing I can print off.

[2018-02-25 04:43] corygrapher opened #2437 "Error: Bootloader not found"
Hello,
When I was trying to make jc65/v32u4:default:dfu, I got this error:

D:/MSYS2/home/user/qmk_utils/dfu-programmer/dfu-programmer.exe: error while loading shared libraries: ?: cannot open shared object file: No such file or directory
Error: Bootloader not found. Trying again in 5s.

What do I do?
Thanks.

[2018-02-25 14:30] mkerfoot commented on #2437
Did you first change directories to the qmk_firmware directory?

cd /c/qmk_firmware

[2018-02-25 14:34] mkerfoot opened #2438 "a physical reset"
I recently flashed my brand spanking new dz60 board with a firmware that has no RESET key, well its there but there is no function key set to get to layer1 that contains the RESET key code. D'oH!

instructions say: Press the RESET keycode, or tap the RESET button (or short RST to GND).

to my knowledge this PCB doesn't have a physical reset switch, how does one short RST to GND?

Thank you so much

[2018-02-25 15:09] corygrapher commented on #2437
Yes I did.

On Sun, Feb 25, 2018 at 09:30 LEdiodes <notifications@github.com> wrote:

[2018-02-25 15:27] mkerfoot commented on #2438
holding space+b while plugging in the USB cable solved my issue! thanks a ton @drashna

[2018-02-25 15:27] #2438 closed

[2018-02-25 17:04] corygrapher commented on #2437
Update:
I solved the problem by pressing the reset button on JC65 PCB.

[2018-02-25 17:04] #2437 closed

[2018-02-26 03:00] thinkv opened #2439 "Can't chain LGUI(LCTL(LSFT(KC_4)))"
Trying to create a screenshot key in mac however the chain "LGUI(LCTL(LSFT(KC_4)))" seems to work once after flashing and then never again. After the first time it simply returns a "4".

Any ideas?

[2018-02-26 03:04] TurboMech commented on #2439
I just created a shortcut inside of System Preferences > Keyboard > Shortcuts, then inputted whatever that key combination was into QMK.

[2018-02-26 03:06] thinkv commented on #2439
@TurboMech but what key combination is not taken and available to QMK? I thought Command Control Shift 4 was already a shortcut

[2018-02-26 04:10] drashna commented on #2439
Tried this on my ergodox, no issues with it.  But on windows.

What keyboard are you using?

[2018-02-26 04:13] thinkv commented on #2439
I'm using a Clueboard, rev3 pcb

here is my keymap file https://gist.github.com/thinkv/105a5b33057f6d72f3fd17a992a97011

[2018-02-26 04:19] TurboMech commented on #2439
@thinkv I use `LCTL(KC_S)` and have that as a shortcut so in Mac it's just CTRL and S.  That is my keypress for my F5 key on my 75%.

[2018-02-26 04:26] TurboMech commented on #2439
Then make it something crazy like LCTRL(LALT(LGUI(S))) then change the shortcut in Mac

[2018-02-26 04:29] thinkv commented on #2439
That's what I have now and it's not working as per this issue @TurboMech

[2018-02-26 11:13] Noia opened #2440 "CTL_T(KC_LPRN) Does not work as expected"
My understanding is that CTL_T(KC_LPRN) should
  When tapped: insert ( which is SHIFT + 9.
  When held: hold left control.

In actuallity this appears to insert a KC_9 when tapped, and hold MOD_LCTL | MOD_LSFT when held.
Tried this on an Iris and Mechmini on linux.

[2018-02-26 17:46] drashna commented on #2440
I'm not sure there is a good solution here.  The KC_LPRN isn't it's own keycode, but is a placeholder for a pre-shifted 9.
https://github.com/qmk/qmk_firmware/blob/master/quantum/quantum_keycodes.h#L495

Aside from that, not sure there is a solution or how much help I could be.

[2018-02-26 18:30] Noia commented on #2440
The issue here is that the Shift modifier is applies incorrectly. It should be either Ctrl or Shift+9, why is it giving me Ctrl+Shift or 9? Somehow the shift is migrating from the momentary part to the hold part of MT function.

[2018-02-26 22:13] drashna commented on #2440
I think that the shift is getting stuck, because of how the keycode is being handled.

[2018-02-26 23:08] fauxpark commented on #2440
It looks like this is not really possible due to the way that keycodes are stored in QMK.

- The 'keycode" `CTL_T(KC_LPRN)` resolves to `0x6326`.
- `0x6000` represents a [mod-tap event](https://github.com/qmk/qmk_firmware/blob/master/quantum/quantum_keycodes.h#L80).
- [The second digit is the modifiers.](https://github.com/qmk/qmk_firmware/blob/master/tmk_core/common/action_code.h#L212) `0x01` is

[2018-02-27 01:36] thinkv commented on #2439
I'm stupid, I changed the mapping on OSX and it messed things up, it did play funny though and clearly the mapping doesn't work at the level with OSX. Sorry all.

[2018-02-27 01:36] #2439 closed

[2018-02-27 20:20] Maartenwut opened #2445 "Errors when building for atmega328p"
I have a board with an atmega328p which I'm trying to port to QMK, but I'm getting errors when building. You can find my code here: https://github.com/Maartenwut/ydpm40-qmk.

The error I'm getting is:

[2018-02-27 21:36] ledoge commented on #2425
I did a `git bisect`, it's caused by commit 7b754e1a5a902abd51ad314c68ef1606d89adf95.

[2018-02-28 14:18] DaiUrakawa opened #2447 "Keyboard name limitation?"
When I make a project named "test" with new_project.sh and try to do `make test:default`, it just prints qmk version and quits.
There seems to be limitation in keyboard name. Happy if this kind of thing is documented [here.](https://docs.qmk.fm/hardware_keyboard_guidelines.html#naming-your-keyboardproject)

[2018-03-01 12:59] oscar-b commented on #2440
Also see https://github.com/qmk/qmk_firmware/pull/2055

[2018-03-01 12:59] oscar-b commented on #2440
Also see https://github.com/qmk/qmk_firmware/pull/2055

[2018-03-01 13:43] optozorax commented on #2395
My solution for this problem:
[code]

[2018-03-01 15:37] skullydazed commented on #2191
Capturing more context about this issue. From the gitter chat @fredizzimo shared this information:

We need someone who has an atmega32a board to write and test this code, or an atmega32a board needs to make its way to one of the qmk developers in order to properly fix this problem.

[2018-03-01 16:44] danielo515 commented on #2191
I would love to test that code myself. Sadly my atmega32a board has it's boot section overwritten an I am unable to flash it.

[2018-03-01 17:16] drashna commented on #2191
Oh no!   If the board has ISP/ICSP header, you may be able to ISP flash the bootloader (if you can find a hex for it)

[2018-03-01 18:44] kaansoral commented on #959
Discussing FaceW here: https://geekhack.org/index.php?topic=58945.250 - Merlin64 mentioned the PCB heating with the custom QMK firmware, I wonder if anyone has similar experiences / opinions

[2018-03-01 19:45] loadedsith commented on #2447
I imagine that this is related to `make test` being a reserved word of some sort. I've created a pull request that adds the documentation for `test`,`all`, and `keyboard`. Does anyone know if there are others that should be added?

[2018-03-01 19:51] loadedsith commented on #2322
Can you share a high res pic of the back of the board? I dont know much about this board, but I know on the Planck you want to solder to the promicro's pc6, not the c6 resistor on the pcb...

[2018-03-01 19:54] loadedsith commented on #2271
That sounds like there's no git repo, did you download as a zip? You're going to want to download the repo with git instead.

[2018-03-01 21:22] hypnocrat opened #2459 "Readline7 - newer QMK versions can't compile on Windows 10."
I'm running Win10 64bit, newest msys2 version.
When I run "make" for a keyboard on a freshly cloned QMK-repository I get the following error:

I reran msys2_install.sh, this sadly didn't add readline7. Msys2 evidently includes readline6, which was enough for older QMK versions.
This dependency seems to have been introduced by newer QMK versions, I still had an older version from last fall where I

[2018-03-02 00:30] #2459 closed

[2018-03-02 10:35] Sinderella opened #2461 "Unicode Input"
My idea is to be able to type £ sign with US layout and/or to be able to use US layout on the UK layout computer. Before I am trying to achieve the later (not even sure it's achievable), I am stuck with inserting the pound sign, unicode.

I have `UNICODE_ENABLE = yes` and I use `UC(0x00A3)` in the keymap, but once I tried to press that key, it prints out `00a3` instead of the pound sign. (I got th

[2018-03-02 13:14] Sinderella commented on #2461
https://docs.qmk.fm/how_keyboards_work.html explains why I cannot achieve it

[2018-03-02 13:14] #2461 closed

[2018-03-02 21:21] Nebukadneza opened #2465 "Two same-mod Mod-Taps: Ideas on making behavior pressing both configurable?"
Hi All,

first of all, thanks for this great firmware. It really makes keyboard-tinkering a fun endavour :+1: .

One thing i stumbled upon when trying to map my favorite layout¹ onto an ergodox was a strange behavior in the Mod-Tap functionality. I’m using Mod-Tap on 2 home-row keys, to switch neo-layout layers (using ALGR and GUI as modifiers). After enabling IGNORE_MOD_TAP_INTERRUPT this works l

[2018-03-03 09:36] danielo515 opened #2469 "Iris hard to setup: One Shot and Tap dance how to?"
Hello,
I have finally finished my iris built, and I'm finding it extremely difficult to customize it.
I just tried a couple of smart and easy customizations: make control and alt keys one shot keys.

Since iris uses a special Keymap macro that adds KC in front of every keycode I had defined the following:

[code]
On my **config.h** I have also imported the spanish keycodes:
`#include "keymap_spani

[2018-03-03 11:04] danielo515 commented on #2469
Ok, fixed the problem with the tap dance.

The problem was that I'm stupid. I just wanted to see if the firmware would compile with the tap dance option enabled, but happens that the feature requires tap_dance_actions array to be declared (**mandatory**). This is what happens when you are in a hurry for trying things.

Now let's see how I fix the problem with the one_shot modifiers

[2018-03-03 11:42] danielo515 commented on #2469
Perfect, the one shot modifiers are working. The actual problem was using my specific country key_codes: `#include keymap_spanish.h`. I don't understand why, and it will be very hard to configure my keyboard without being able to use my actual key-codes

[2018-03-03 11:56] danielo515 commented on #2469
Finally everything is working
The problem was that I was including the spanish keymap on the config file, and seems that it only works if I include it on the keymap file. This should be documented at some place. I never heard about how and when the regional keycodes should be included.

[2018-03-03 16:46] lbibass opened #2470 "New way to toggle layer request"
So I was thinking of a new way to add layers. Looking at the way that EAGLE/Rhino do it, it seems really nice. Type in the layer you want, hit enter, and you're set. I just don't know where to start to implement this functionality. Maybe a stripped down version of the terminal function? Have it read the characters that are stored in the RAM/ROM and then use the toggle layer function. The only issu

[2018-03-03 17:12] pattulus commented on #2470
I can see this would be a nice thing to have, but I can also see unwanted behaviors, when for instance only parsing the last 10 entered characters.

I set up the leader key to have a similar behavior:

      //Layer switching
      SEQ_ONE_KEY(KC_1) { ang_tap (TT(NUMPAD), 0); } // Numpad
      SEQ_ONE_KEY(KC_2) { ang_tap (TT(MOUSE), 0); } // Mouse

Of course you could just use `SEQ_FOUR_KEYS` to h

[2018-03-03 17:13] patrickwelker opened #2471 "USB_LED_CAPS_LOCK not working with LED anymore [Ergodox EZ]"
Maybe @ezuk can share a little light on this. I could imagine there might be some terminology changes that I'm not aware of. I searched the open/closed issues, but haven't found a thing.

@jackhumbert [commented in 2016](https://github.com/qmk/qmk_firmware/issues/92#issuecomment-172629034) confirming this works for all things OLKB. I'm 100% sure this ought to work for the EZ, too, since I used the

[2018-03-03 17:14] skullydazed commented on #2389
Thanks for the feedback everyone. I've incorporated many of these suggestions into the documentation. Special thanks to @yanfali for kicking that off, his PR provided a good base to build from. I'm considering what we have complete for now, but if you have suggestions or corrections for the docs please let us know either as a PR or a comment here.

Next steps are to consider behavioral changes.

A

[2018-03-03 17:38] drashna commented on #2471
Well, by default, they never did this (as far as I'm aware).
But if you'd like to make it so the LEDs indicate the lock status, you can.

You want to use this:
https://docs.qmk.fm/custom_quantum_functions.html

But specifically:
[code]
Replace the `layer_state_set_user` function with the above, otherwise it will change the LEDs.

[2018-03-03 17:50] yanfali commented on #2389
I like the idea of bootmagic lite. It would be a consistent constant while troubleshooting keyboards on r/mk and r/olkb

[2018-03-03 17:50] skullydazed commented on #2465
I'm not entirely sure I understand your problem correctly, but I think I do. There are a couple ways to approach this (and others can chime in if they have a more elegant solution to this problem.)

The first is to use `process_record_user()` to catch this situation and send the appropriate key codes instead. I'd need to do more work than I have time for right now to put this solution together, bu

[2018-03-03 17:52] skullydazed commented on #2447
I think that covers it. Thanks for the helping hand @loadedsith

[2018-03-03 17:52] #2447 closed

[2018-03-03 18:01] drashna commented on #2322
The problem here is that most of the pins are already in use. C6, B5, B6 and B7 are all being used by the keyboard matrix.
So enabling the audio will disable that column.

So, no, there isn't a good option here.

You can see a list of the used pins here: https://github.com/qmk/qmk_firmware/blob/master/keyboards/gh60/config.h#L49-L50

[2018-03-03 18:03] lbibass commented on #2470
@pattulus well of course there would be some limitations, like the ten entered characters. Most layer names are simple after all. Thanks for the help! So basically my idea basically already exists in leader key?

[2018-03-03 18:36] skullydazed commented on #2359
We already support the teensy 3.x's, for example see this: https://github.com/qmk/qmk_firmware/tree/master/keyboards/chibios_test/teensy_lc_onekey

Basically, our support for a particular processor is tied to chibios' support.

[2018-03-03 18:38] skullydazed commented on #2353
Have you tried QMK Toolbox instead of hid_listen? I've found that hid_listen doesn't always connect in time, but QMK Toolbox connects in time to catch anything printed after "Keyboard Start". I don't know if the init functions run before or after that.

[2018-03-03 18:41] #2289 closed

[2018-03-03 19:24] yiancar commented on #2389
+1 for the bootmagic lite, literally that would solve most problems with a simple keycombo

[2018-03-03 19:49] danielo515 commented on #2469
You're right. I should open a dedicated one for the documentation part.
Regards

[2018-03-03 19:49] #2469 closed

[2018-03-04 09:41] pattulus commented on #2470
If you're willing to accept the leader key as _the first letter to enter_ in the word that represents your layer, then yes.

[2018-03-04 10:24] Nebukadneza commented on #2465
Hi,

thank you for your quick answer, and suggestions. Indeed, the copy’n’wasted layer which is `RALT(…)`ed  throughout didn’t occur to me. While it’s ugly to modify, it is easy to generate with a bit of sed magic, and perfectly serves my purpose!

Thanks a lot!
-Dario

[2018-03-04 10:24] #2465 closed

[2018-03-04 15:54] lbibass commented on #2470
could it also be more than one letter if I used something like SEQ_THREE_KEY?

[2018-03-04 18:54] pattulus commented on #2470
Yep, @jackhumbert implemented up sequences up to 5 letters on [June, 22](https://github.com/qmk/qmk_firmware/commit/98f0807359cfa78d25442b91ff4c5bbfc5679661).

[2018-03-05 05:38] bbaserdem opened #2475 "[lets split] RGB light and layer_state_set does not work together."
From what I gather, `layer_state_set_user` function is executed at layer change, passing the new layer configuration with the variable `uint32_t state`

This is the behaviour I get on the planck board, and use this function to change RGB indicators. When the same code is used on a pro micro (let's split) the function executes with the state that I'm switching from, instead of the state I am switch

[2018-03-05 06:10] drashna commented on #2475
`rgblight_enable();` isn't needed except for in the `matrix_init_*` function.  I mean, it shouldn't hurt, but ... it's unnecessary.

Why are you doing this: `state = layer_state_set_keymap (state);`. rather than ` return layer_state_set_keymap (state);`?
The reason I ask, is because I used the return option explicitly because it was step up that way in the core files:
https://github.com/qmk/qmk_fi

[2018-03-05 06:29] garrettmurray commented on #2425
Also having this problem which is preventing attempting to convert my Pearl from bootmapper to QMK.

[2018-03-05 10:57] pattulus commented on #2471
Mh. I commented out my 'capslock if function' and tried adding your `led_set_user` at the bottom of my keymap.c (and since I have an older EZ without RGB LEDs ditched the `layer_state_set_user`), but it didn't work.

My best guess is that something in [my configuration](https://gist.github.com/pattulus/5a6298d9a13060b47d400770a599728c) might interfere, although I can't put my finger on it. I copie

[2018-03-05 17:27] garrettmurray commented on #2425
@Sebb767 Any ideas?

[2018-03-05 17:45] danielo515 opened #2477 "Increase the time required for a hold without affecting TAP_DANCE"
Hello.

Currently I use space both as space and as shift keys. However, when I type fast I am facing a big problem: sometimes I want an space and I get a shifted key (ej: helloBuddy instead of hello buddy).

I can increase TAPPING_TERM, but that will affect tap dance, which uses (badly chosen IMO) the same config variable.

Any advice will be greatly appreciated.
Regards

[2018-03-05 18:15] Sebb767 commented on #2425
The problem seems to be that there's no 'default' keyboard for ps2avrGB anymore.

Initially, it only supported the b.mini (one of the winkeyless.kr boards), but as @jetpacktuxedo and I added support for the b.fake and b.face we moved those to subprojects (those are now standalone folders).

I'm pretty sure I could fix it by adding a default keymap again, but I'm not sure how much sense this  would

[2018-03-05 18:39] garrettmurray commented on #2425
@Sebb767 If you wouldn't mind doing a PR, that'd be great. Then I'll patch it and see if I can make again.

[2018-03-05 19:17] Sebb767 commented on #2425
@garrettmurray PR #2478

[2018-03-05 19:31] bbaserdem commented on #2475
I tried to add a delay specific to the keymap before execution of the loop. That is an artifact of my many trials to fix this issue. I can confirm that fixing it doesn't help.

The rgblight_enable is due to indicator lights only being on outside the default layer. I usually configure it to off to reduce power drain.

[2018-03-05 20:04] garrettmurray commented on #2425
Thanks, Sebb. That worked perfectly. Left a review on the PR.

[2018-03-05 21:46] drashna commented on #2475
Ah, well, I can see about writing something else that would work.

As for power consumption, you may want to add a define for "RGBLIGHT_LIMIT_VAL".  This will limit the brightness, basically.  So, you could limit the power draw

[2018-03-06 20:56] ForsakenHarmony opened #2486 "REMOVE THE ATMEL FLIP INSTALLER IT NUKES PATH VARIABLES"

[2018-03-07 11:03] millipz commented on #168
Hi! Any update on this? I'm wanting to set up a Plover/steno based one handed chording layout. @algernon, the idea of being able to set up Plover in firmware is super exciting!

[2018-03-07 19:55] gid0 opened #2492 "what is now the correct way to build community keymaps"
The folder layout is changing really much, quite often.
What is now the correct way to build a community keymap for a particular keyboard ?

Let's say I want the bepo keymap for an Ergodox keyboard. I used to issue :
`make KEYBOARD=ergodox KEYMAP=bepo`
Given the examples and readme, I can't find a way to compile it.

[2018-03-07 20:05] danielo515 commented on #2477
I have a solution that almost works. It is not my code, it was suggested by a user at gitter, I think his name is @fredizzimo .
The only non working part from his code is effectively determining the pressed keycode. I'll document here the changes:

add the following to `action_tapping.c`

[code]

Of course add the declaration to `action_tapping.h`

[code]

Then you can override the `get_tapping_te

[2018-03-07 22:05] #2425 closed

[2018-03-08 05:59] dunkarooftop commented on #168
@wezzynl
It's not QMK solution but if you are on Mac, you can look into "karabiner-element. It's a very low level keyboard tweak
https://pqrs.org/osx/karabiner/

Here are some of the example
https://pqrs.org/osx/karabiner/complex_modifications/
(search for Vim)

[2018-03-08 10:58] danielo515 opened #2495 "KC_LOCK not working for OSM modifiers"
Hello,
 i'm trying to use KC_LOCK on my keymap and I want to use it with my one shot modifiers. The documentation of KC_LOCK says that this should be possible, but it is not working. Here is how I have my modifiers defined:

[code]

It is working for normal keys (for example letters and numbers).

[2018-03-08 16:41] drashna opened #2497 "Keycodes for Swap Hands"
The docs for the "swap hands" feature got re-added in #2489.
However, it looks like it only supports the `fn_action` functions.

The problem with that, is that in all of the documentation, this implementation has been depreciated, and "shouldn't be used".
In fact, because I use the linker optimization compilation flag, I can't use it, since the `fn_action` function errors out.

Specific keycodes f

[2018-03-08 17:06] lukexorz commented on #2164
If I wanted to just check numlock status one time when my board is plugged in and set numlock on if it is off, how would I do that? I'm using an Ergodox EZ if that makes any difference

Also, drashna, I keep running into you for help with QMK (here and on reddit), just want to say I appreciate your help a lot!

[2018-03-08 17:25] henrebotha opened #2498 "Automatic glossary links in docs are overzealous"
For example, the letter "C" on [this page](https://docs.qmk.fm/feature_leader_key.html) is automatically hyperlinked to the glossary definition for the C language, **even though it literally just means the <kbd>C</kbd> key in this context**. There are many similar examples throughout the docs — the word "make" is frequently used to mean things _other_ than the build tool, yet it hyperlinks to the

[2018-03-08 17:59] skullydazed commented on #2498
I've been thinking this myself lately. Seems like gitbook doesn't have a way to do that, but we can rename it to `qmk_glossary.md` and update the links.

[2018-03-08 18:00] henrebotha commented on #2498
What would renaming the file achieve? Would it stop the hyperlinking or something?

[2018-03-08 18:01] skullydazed commented on #2498
Yes, from gitbook's perspective we have a glossary because a file called glossary.md exists in the right format. By renaming it gitbook won't think we have a glossary.

[2018-03-08 18:31] #2498 closed

[2018-03-08 18:47] drashna commented on #2495
Why not define these:
[code]

Then they'll lock by tapping the correct number of times?

And as for why, I think it's how the lock key works.  I suspect it only works with normal keys?

[2018-03-08 18:53] drashna commented on #2164
Untested:

[code]

I think that should force numlock on, but only when the keyboard starts.

[2018-03-08 19:18] lindhe commented on #2492
I can't figure it out either. Trying to make `layouts/community/ergodox/swedish-lindhe`, but can not figure it out. Have tried `make ergodox:swedish-lindhe` as well as `make keyboard=ergodox keymap=community/swedish-lindhe` but neither works.

[2018-03-08 19:21] K-rnivoro commented on #2164
Yes. I tried and works ok ONLY when the keyboard starts.
Try with two KB. Turn off NumLock with a normal one and plug the hacked one
after that.

El 8 mar. 2018 15:53, "Drashna Jaelre" <notifications@github.com> escribió:

Untested:

void matrix_init_user (void) {
  if (!(host_keyboard_leds() & (1<<USB_LED_NUM_LOCK))) {
      register_code(KC_NUMLOCK);
      unregister_code(KC_NUMLOCK);
  }
},

I

[2018-03-08 20:34] wezzynl commented on #168
@dunkarooftop
Hey, thanks for the heads-up. However, it is possible now to at least do what I want with `process_combo`. E.g. holding down the S and D keys simultanously will go into SuperDuper mode and shifts layers so H, J, K, L become arrow keys and some more fun stuff.

See this issue: #1214

[2018-03-08 20:36] wezzynl commented on #168
@dunkarooftop LOL, I just notice that #1214 is actually your own ticket :) 👍

[2018-03-08 23:33] gid0 commented on #2492
I think I finally got it, but I'm glad to see I'm not the only one who struggled. Try replacing ergodox with ergodox_ez :
`make KEYBOARD=ergodox_ez KEYMAP=swedish-lindhe`
or
`make ergodox_ez:swedish-lindhe`
Somewhat counter-intuitive when you don't have an Ergodox "EZ".

[2018-03-09 11:46] lindhe commented on #2492
Sounds like a strange decision. Ergodox is the original design; EZ is the
variation.

On Fri, 9 Mar 2018, 01:22 Drashna Jaelre, <notifications@github.com> wrote:

--
--
  Andreas Lindhé
  Lindhe94@gmail.com

[2018-03-09 15:07] drashna commented on #2492
It kind of does.  But I suspect that the reasoning for that is that ezuk maintains the code for the ergodox And sihce he is And since he's the creator of the EZ, and dominic (the ergodox creator), well doesn't maintain the code here (not that I've seen).... that it makes more sense to handle it that way.

But since the boards are identically designed, it shouldn't be an issue, firmware wise.

[2018-03-09 20:19] lindhe commented on #2492
Ah. What further complicated matters was that my fork was based on a broken commit. It works.

[2018-03-10 10:33] danielo515 commented on #2495
Hello @drashna, thank you for your answer.
I also thought about that as an alternative solution, however if possible I prefer to just hit two keys rather than hitting the same key 5 times for activating and another 5 times for deactivating. Of course I can lower the number, but if I lower it too much it may become too easy to hit it by accident.
You say that it may not work because it's nature, bu

[2018-03-10 14:59] rask commented on #1364
I'm getting similar errors on `make pearl:default` on 14.04, will have to see if compiling a newer version of `gcc-avr` helps with this.

[2018-03-10 22:48] shmcgrath opened #2514 "Leader Not Working"
My/the leader key is not working. When I hit the leader key followed by the sequence, I get the character I am typing. I have tried it with 1, 2, and 3 keys in sequence. I have made sure that the key is not physically broken. The code is compiling fine and loads onto my Planck without issue. [Here is they keymap I am using.](https://github.com/shmcgrath/qmk_firmware/tree/master/keyboards/planck/ke

[2018-03-10 22:55] jackhumbert commented on #2514
Here are some other threads on /r/olkb that were having issues as well:

* https://www.reddit.com/r/olkb/comments/837dyv/leader_key_troubles/
* https://www.reddit.com/r/olkb/comments/7u7362/leader_key_timing/

[2018-03-11 20:11] Talljoe opened #2518 "PREVENT_STUCK_MODIFIERS should be the default"
I'm happy to do this work; want to get feedback first.

Many problems new users face with the layer system is realizing the keydown and keyup can occur on different layers. This confusion leads to frustration, long debug sessions, and ultimately questions on the boards. Some features (notably stenography) have issues if the wrong keyup happens. It only the rare and advanced scenario when someone w

[2018-03-11 23:49] ramnes commented on #1318
It has been done: https://github.com/qmk/qmk_firmware/tree/master/keyboards/fc660c

[2018-03-12 00:18] #1318 closed

[2018-03-12 02:03] Talljoe opened #2522 "Swap Hands tap keys are broken"
If you use `SH_T()` to set up a dual-function key the keyboard won't be swapped if you press another key within `TAPPING_TERM`. This is because the held key doesn't get processed until an interrupt key comes in and it's too late to do the swap-hands remapping.

I think a potential solution is to put a flag to indicate that the held key should be processed immediately since hand-swapping is idempot

[2018-03-13 05:02] harshitgoel96 commented on #2224
has this been pulled to the main branch ?

[2018-03-13 09:08] ryanm101 commented on #2224
yes

[2018-03-13 18:54] Talljoe commented on #2497
Fixed in #2520.

[2018-03-13 19:58] seebs commented on #2033
Serial port accessibility is a configuration choice you'd make elsewhere; usually there's a group that gets access to the port, and you'd need to add your user account to it. You should not need root to access a serial port in normal use.

[2018-03-13 20:04] #2497 closed

[2018-03-14 03:04] TurboMech opened #2527 "Caps lock LED as a normal backlight controlled LED"
Hey all, I can't for the life of me figure out how to make the LED indicator for caps lock to operate as a normal LED that is controllable, instead of it acting as the indicator led.  This is for an ALU84 but also applies to other keyboards that have caps lock indicator LEDs built in.

Thanks for any input

[2018-03-14 03:35] drashna commented on #2527
https://github.com/qmk/qmk_firmware/blob/master/keyboards/alu84/keymaps/default/keymap.c#L86-L91

[2018-03-14 03:55] drashna commented on #2527
Specifically, I think you'd want:

[code]

But I could be wrong about that

[2018-03-14 03:58] TurboMech commented on #2527
@drashna no I'm trying to get it to not act as a indicator, just a normal backlight LED

[2018-03-14 14:55] drashna commented on #2527
You mean to be used with the rest of the backlighting?

No, I don't think so, since it's running on a completely separate pin than the rest of the backlighting.

[2018-03-15 05:55] harshitgoel96 opened #2536 "YMD96 Atmega32A led backlight issue"
I have Ymd96 running QMK from the default branch. The keyboard itself is working fine but backlight is not working. I have using following settings on QMK

BACKLIGHT_PIN D4 (Confirmed with Vincent on pin as well)
BACKLIGHT_LEVELS 3

Tried turning on leds using

BL_TOGG
BL_ON/BL_OFF

The Caps Lock, Scroll Lock, and Num lock do not work.

[2018-03-15 14:35] deadencryption opened #2537 "JC65 Keymap Issues"
CTRL and CAPS Lock reversed from code.
LGUI also no longer working.

Code below was working fine before:

#include "v32u4.h"

// How long (in ms) to wait between animation steps for the breathing mode
const uint8_t RGBLED_BREATHING_INTERVALS[] PROGMEM = {30, 20, 10, 5};

// How long (in ms) to wait between animation steps for the rainbow mode
const uint8_t RGBLED_RAINBOW_MOOD_INTERVALS[] PROGMEM =

[2018-03-15 14:48] gh-n opened #2538 "Cant turn off switch backlighting on DO60"
I got this pcb from doyu studio's giveaway. I think that this is a prototype pcb

I already tried ACTION_BACKLIGHT_TOGGLE() on keymap.c, #define BACKLIGHT_ON_STATE 0 on config.h

BL_TOGG, BL_DEC also doesnt work.

What do I need to do?

Pin is F4 according to doyu studio.

Here are my files.

[doyu_60.zip](https://github.com/qmk/qmk_firmware/files/1815822/doyu_60.zip)

[2018-03-15 14:54] deadencryption commented on #2537
Also noticed this now when compiling. I don't know if it's part of the issue:

$ make jc65:dead_encryption:dfu
QMK Firmware 0.5.248
Making jc65/v32u4 with keymap dead_encryption and target dfu

avr-gcc.exe (AVR_8_bit_GNU_Toolchain_3.5.4_1709) 4.9.2
Copyright (C) 2014 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MER

[2018-03-15 15:20] drashna commented on #2537
Errors look fine (eg, not actually critical).

For the Ctrl - CAPS, bootmagic strikes again.

https://docs.qmk.fm/feature_bootmagic.html#bootmagic-keycodes

If bootmagic is enabled for the board, hold space and capslock when plugging it in.

For the LGUI, does it work as a different key?  If not, hold space and LGUI when plugging it in. Otherwise, hold space and LCTRL when plugging it in.

[2018-03-15 15:26] deadencryption commented on #2537
Holding down those keys does nothing for me. The board just loads normally.

[2018-03-15 15:33] deadencryption commented on #2537
Ok, so I had to enable bootmagic on the rules.mk under jc65\v32u4\rules.mk

Afterwards, your recommendations to hold win key plus spc worked and holding ctrl plus spc worked...any idea how the board ended up that way?

Should I disable it again to prevent it from changing?

[2018-03-15 16:03] drashna commented on #2537
Likely, the eeprom had some random values in it, that caused this. Resetting the EEPROM would probably have fixed this as well.

[2018-03-16 01:28] squarology commented on #2495
I'm also having trouble getting this to work. The documentation clearly states that this is possible. So should the documentation be changed?

Or is this a bug?

Thank you.

[2018-03-16 13:26] leshow opened #2545 "AUTO_SHIFT_ENABLE breaks ergodox infinity build"
A keymap which compiles fine will fail to compile if `AUTO_SHIFT_ENABLE = yes` is added to `rules.mk`

[code]

[2018-03-16 20:38] Talljoe commented on #2522
Fixed in #2520.

[2018-03-16 20:38] #2522 closed

[2018-03-17 01:13] WarmCatUK commented on #2527
Could you have it copy the state of the regular backlights? Just a thought.

[2018-03-17 05:20] Boy-314 opened #2549 "Some sort of error when erasing memory on Windows, flashing preonic rev2"
[code]

[2018-03-18 11:12] texrg opened #2555 "is possible to add potentiometer?"
lokk this https://klawiatura.wordpress.com/
this is international keyboard, japanese, french etc.

[2018-03-18 15:58] r4dr3fr4d opened #2558 "Linking C++/Arduino code files into build"
Getting "undefined reference" errors when trying to link arduino code used by a .cpp file, inside of the let's split code.

I've tried inserting ``extern "C"`` into some of the used functions but I'm not sure if I'm doing that the correct way.

Anyone else try to mix c and c++ code as part of a hack?

``Compiling: ./tmk_core/common/command.c

[2018-03-18 17:31] jackhumbert commented on #1111
[Up-to-date link in the docs](https://docs.qmk.fm/feature_mouse_keys.html) (if this isn't up-to-date please comment here so I can edit!)

[2018-03-20 08:09] Atlacat opened #2567 "Request push access"
How exactly do i get granted access to upload my files?

[2018-03-20 15:32] skullydazed commented on #2567
Hi @Atlacat, GitHub works by forking a repo to create your own source tree, making the changes there, and submitting a Pull Request back to the main repo from your own repo. We've outlined the process in our own documentation here:

https://docs.qmk.fm/getting_started_github.html

You can also read about the process in the main GitHub documentation:

https://help.github.com/articles/creating-a-pul

[2018-03-20 15:32] #2567 closed

[2018-03-21 10:12] cschwenz opened #2580 ""Bug" in avr-gcc causing internal compiler error."
This needs to be documented somewhere because internet searches for this issue returned nothing for me.

Please note, `avr-gcc` is doing the correct thing. Updating/upgrading tangentially related software packages from `brew` can cause sym-links `avr-gcc` depends on to be mangled.

So, if you see something like:
[code]

The solution is to do:
[code]

Ideally, this needs to be added to either the h

[2018-03-21 10:34] and3rson commented on #168
I was also playing around with the timers while looking for a way to execute some code once certain delay passes. The closest I managed to do is using `matrix_scan_user`. I was thinking if something similar exists already.

Here's the code I use for my preonic:

[code]

Worked pretty great.

[2018-03-21 15:39] pjroth commented on #1958
I am having this problem where I'm seeing dropped key presses when rapidly pressing the same key (it just happened when typing the double "p" in dropped).  Strangely it seems like it suddenly got worse today (I rarely noticed this until today) and not related to me re-flashing recently since I've been using this layout/config/build for more than 2 weeks.

I've tried rebooting the keyboard (removin

[2018-03-21 16:35] pjroth commented on #1958
I built off master just now using default ergodox-ez and default keymap and flashed this version to my ergodox-ez. This ELIMINATED my problem of missing the second quickly typed key.  Typing is also noticeably snappier.  I'm guessing @ezuk your https://configure.ergodox-ez.com tool is using an older version than this latest master revision I used and the difference between those versions is causin

[2018-03-21 17:05] drashna commented on #1958
I suspect that it's the `QMK_KEYS_PER_SCAN` option that may be the issue.

Try adding `#define QMK_KEYS_PER_SCAN 4` to your config.h, and see if that helps.  And try playing with that value (set it to 1, and 8).

Otherwise, you can see a history of commits to just the ergodox board here: https://github.com/qmk/qmk_firmware/commits/master/keyboards/ergodox_ez

[2018-03-21 18:41] higherorderfunctor commented on #2558
I have linked against FastLED which is a C++ library.  The fastled_entry.* files have the C/C++ wrapping code in it.  The bootstrap directory does the necessary work to include the Arduino headers.  All code I was playing with is in the directory below.  The readme.md has where I imported the libraries, all other code is the keymap space.

https://github.com/kcal-io/qmk_firmware/tree/master/keyboa

[2018-03-21 18:52] higherorderfunctor commented on #2402
I replied to your latest issue, but in case anyone else finds this one, I have done it in the fork below to link against FastLED.  The readme.md and bootstrap directory has what you need to include the Arduino headers.  For the promicro you will also need the Sparkfun library.  I haven't played with any other microcontrollers.

https://github.com/kcal-io/qmk_firmware/tree/master/keyboards/9key/key

[2018-03-21 22:11] raycewest commented on #2558
Thanks @higherorderfunctor - will give that a look.  I was about to give up and program the board entirely in Arduino.

[2018-03-21 22:16] drashna commented on #2558
@higherorderfunctor I'm just curious, why use the FastLED library over the RGB Underglow feature?

[2018-03-21 22:32] higherorderfunctor commented on #2558
I am trying to do per key RGB on an Iris with RGB underglow.  FastLED was attractive for its power management and dithering functions for the amount of LEDs I want to power.  It is on my TODO list to go back and try the native RGB functions and do some measurements now that I have tools to read the draw.  The project has stalled since school has started back up and it takes around 30 minutes per L

[2018-03-21 22:52] skullydazed opened #2584 "Newbie Guide: Clarify flashing for linux users"
We should clarify the situation re: flashing for linux users in the newbie guide. Since QMK Toolbox won't work we should let them know about `:dfu` make targets, and also document the udev rules that let you avoid sudo.

[2018-03-22 02:05] drashna commented on #2584
You mean like: https://docs.qmk.fm/flashing.html  :)

Though, in the newb guide, there are a couple of places that this info or a link could go.

[2018-03-22 03:43] pjroth commented on #1958
Thanks for the advice @drashna however using the value of 15 from master my problem is no longer present after I built the code from scratch myself (as compared to using https://configure.ergodox-ez.com where the hex file compiled for me is causing my keyboard to miss quick taps).  This issue is maybe not the correct place for this issue, it seems like a bug with https://configure.ergodox-ez.com t

[2018-03-22 03:57] drashna commented on #1958
Okay, glad to hear it.

I think there was some optimization that Seebs did a while ago that just hasn't been added to the Ergodox EZ Configurator yet. And namely, I think the "QMK_KEYS_PER_SCAN" code hasn't been added, yet.

[2018-03-22 07:28] skullydazed opened #2590 "Document the QMK API and Internals"
We want to document the QMK API and Internals to make it easier for people to write custom code and understand how QMK works. This is a pretty big project that will make it easier for people to use QMK, and will give you an opportunity to learn more about how QMK works yourself.

We're looking for help from the community to add documentation comments to all of the functions, defines, and other use

[2018-03-22 15:02] ezuk commented on #1958
That must be it! Thank you @drashna -- I'll be upgrading the qmk version on the configurator over the next few days and will check back in here to confirm, and we can test it then.

[2018-03-23 01:45] ezuk commented on #1958
@drashna @pjroth I've upgraded the qmk version running on the configurator. @pjroth  - Would you like to maybe check it out and tell me if that resolves the issue for you?

[2018-03-23 04:14] amnobis opened #2595 "Strange Matrix Behavior"
Hi,

For some context I'm working on a new split keyboard using QMK/I2C. Trying to work on the controller half at the moment and seeing some weird behavior in the matrix.

Gist Here:
https://gist.github.com/amnobis/36206e381992595d30bd50f3c7feb27b

I've been using `hid_listen` to monitor and can verify that the correct row/column positions in the matrix are getting set to `1` when a key is pressed

[2018-03-23 13:13] harshitgoel96 commented on #2224
i have a ymd96 running on Atmega32a would the backlight work on it with this code ? It is also based on ps2avrgb

[2018-03-23 14:54] pg30123 commented on #1958
It seems to work for me.

I was also having the same issue that repeated key strokes are constantly getting ignored. After seeing this update I went to the configurator and started with a clean copy of 1.3.4 default layout,  changed the keymap to my liking, and flashed it to the keyboard, and it worked. :D

[2018-03-23 19:34] pjroth commented on #1958
Thanks so much @ezuk for making a change so quickly, much appreciated!

So I cloned my previous config and built and downloaded a new hex file using this config:
 https://configure.ergodox-ez.com/keyboard_layouts/kjbmrv/edit

I loaded this via teensy loader on linux and my keyboard has NO repeated keystrokes.  That's good, but....

Next I said, lets reproduce the previous issue by loading the old

[2018-03-23 20:29] drashna commented on #1958
If that's the case, maybe it's a bad cable (TRRS, or USB) then, maybe?

[2018-03-24 13:57] harshitgoel96 opened #2601 "[request] bootloader option for atmega32a"
I know there are different bootloader that can be used. For a noob like me its a very deep sea. I can see there is already bootloader shipped for atmega32u4 MCUs. Can there be option so support more MCU? or if we can have guide for boot loaders.

[2018-03-24 14:27] drashna commented on #2601
Well, that's a complicated issue.   For the most part, the firmware itself doesn't care.  There are some additionally handling based on the bootloader, in some cases .... but .....

DFU is probably the most common, and probably the simplest to flash from script.   Many use Caterina (Arduino, especially the Pro Micro). PJRC boards (Teesny's) use their own bootloader (halfkay). BootloadHID is a nead

[2018-03-24 14:31] harshitgoel96 commented on #2601
Thanks for the fast response. I have a ymd96 on which I managed to kill the Bootloader. I have been able to flash the qmk hex using the ISP programer. Now I need to rebuild my Bootloader, and there is no good guide on it. Hence the request about it.

[2018-03-24 15:15] drashna commented on #2601
Well, most of the bootloaders are a bit outside of what QMK does.  Which means that the docs are a bit "anemic"

It looks like the atmega32a is basically the same as the atmega32u4, but without native USB support.

There is the QMK DFU bootloader, and that *may* work, but I'm not sure.  @jackhumbert would have to confirm that it works for the atmega32a or not (the controller in the ymd96).
Or you

[2018-03-24 15:18] drashna commented on #2601
---

And maybe it would be a good idea to host the bootloaders for other chips, just in case.
That or expand the docs for the QMK DFU bootloader, and make sure it supports chips like the ATMega32a, which need virtual USB support (or confirm that it does)

[2018-03-24 16:08] drashna opened #2602 "can QMK_KEYBOARD_H be modded"
Specifically, can it be modded in such a way that can add multiple includes?

Namely, I'd like to be able to add my "drashna.h" file here, automatically .... without having to manually include it each time.

I know that QMK_KEYBOARD_H can be altered, but not easily, apparently.

If not, that's fine.  But if it's possible ... fantastic!

[2018-03-25 02:01] drashna commented on #2486
Which OS, and global system paths?